---
import Layout from "../../layouts/Layout.astro";

// "https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2022/"
---

<Layout title="PETROSAINS ANNUAL REPORT 2022">
  <header class="header pt-4 bg-white">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto d-flex align-items-center">
          <a href="/">
            <img
              alt="Yayasan PETRONAS logo"
              src="https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2020/logo.5874414.png"
              width="180"
              class="d-inline-block px-3 border-right"
            />
          </a>
          <h1 class="d-inline-block m-0 px-3 text-dark">
            Annual Report
            <span class="text-primary">2022</span>
          </h1>
        </div>
      </div>
    </div>
  </header>
  <nav
    class="bg-white sticky-top d-flex justify-content-center align-items-start shadow-sm"
  >
    <ul class="nav justify-content-center my-2">
      <li class="nav-item">
        <a href="#overview" class="nav-link px-2 px-sm-4">Overview</a>
      </li>
      <li class="nav-item">
        <a href="#year-review" class="nav-link px-2 px-sm-4">Year in Review</a>
      </li>
      <li class="nav-item">
        <a href="#annual-report" class="nav-link px-2 px-sm-4">Annual Report</a>
      </li>
    </ul>
  </nav>

  <main>
    <section
      id="masthead"
      class="masthead__bg bg-light d-flex align-items-center"
      style="background-image: url('https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2022/masthead.jpg'); background-size: cover; background-repeat: no-repeat;"
    >
      <div class="container py-4">
        <div class="row">
          <div class="col-lg-8 col-xl-6">
            <div class="text-primary">
              <h2 class="h1 mb-5">
                Empowering Change <br />
                 in Communities
              </h2>
              <a
                href="https://www.yayasanpetronas.com.my/wp-content/uploads/2023/08/Yayasan-PETRONAS-Annual-Report-2022.pdf"
                role="button"
                target="_blank"
                download
                class="btn btn-primary btn-lg"
                rel="noopener">Download Annual Report 2022</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="overview" class="bg__main mb-5">
      <div class="container">
        <div class="row py-5">
          <div class="col-sm-8">
            <h2 class="text-uppercase heading__underline">
              Yayasan PETRONAS at a glance
            </h2>
            <p>
              Yayasan PETRONAS is the social impact arm of PETRONAS. Our mission
              is to deliver positive and sustainable impact on the well-being of
              society across the nation. With our pillars of Education,
              Community Well-being & Development and Environment, we believe
              that we can unlock the potential of individuals, foster inclusive
              and resilient communities as well as preserve our environment.
            </p>
            <p>
              <strong
                >We continue to be committed to creating impactful value for
                all, working towards ‘Empowering Change in Communities’ for the
                betterment of society.</strong
              >
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row row-cols-1 row-cols-lg-2">
          <div class="col">
            <figure
              class="figure__msg"
              data-aos="fade-up"
              data-aos-easing="ease"
              data-aos-delay="100"
            >
              <img src="https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2022/msg1.png" />
              <a href="#" class="btn btn-primary btn-sm btn__msg"
                >Find Out More</a
              >
            </figure>
          </div>
          <div class="col">
            <figure
              class="figure__msg"
              data-aos="fade-up"
              data-aos-easing="ease"
              data-aos-delay="300"
            >
              <img src="https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2022/msg2.png" />
              <a href="#" class="btn btn-primary btn-sm btn__msg"
                >Find Out More</a
              >
            </figure>
          </div>
        </div>
      </div>
    </section>

    <section id="overview" class="bg__main mb-5">
      <div class="container">
        <div class="row mb-5">
          <div
            class="col d-flex flex-column align-items-start justify-content-center mb-3"
          >
            <h5>Education</h5>
            <p>
              Advancing STEM Education in Malaysia is designed to elevate
              national STEM enrollments to a 60:40 ratio. Our cornerstone goal
              is to invest in underserved regions, empowering both educators and
              learners with the tools for top-tier STEM education. In achieving
              this, we aim to close existing educational disparities, fostering
              collective national growth.
            </p>
            <a
              href="https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2020/pdf/yayasan_petronas-annual_report_2020.pdf#page=17"
              target="_blank"
              class="btn btn-primary">Read More</a
            >
          </div>
          <div class="col-lg-5">
            <img
              data-aos="fade-up"
              data-aos-easing="ease"
              data-aos-delay="100"
              src="https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2022/info1.jpg"
              alt="Education"
              class="img__showcase"
            />
          </div>
        </div>

        <div class="row mb-5">
          <div
            class="col d-flex flex-column align-items-start justify-content-center mb-3 order-lg-2"
          >
            <h5>Community Well-being and Development</h5>
            <p>
              In the realm of Community Well-being & Development, we set our
              sights on sustainable growth through a multi-pronged approach:
              investing in education in neglected areas, enhancing ecological
              well-being via conservation measures, and elevating the living
              standards of disadvantaged communities. All of these goals
              intersect to propel collective national progress.
            </p>
            <a
              href="https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2020/pdf/yayasan_petronas-annual_report_2020.pdf#page=17"
              target="_blank"
              class="btn btn-primary">Read More</a
            >
          </div>
          <div class="col-lg-5 order-lg-1">
            <img
              data-aos="fade-up"
              data-aos-easing="ease"
              data-aos-delay="100"
              src="https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2022/info2.jpg"
              alt="Community Well-being and Development"
              class="img__showcase"
            />
          </div>
        </div>

        <div class="row mb-5">
          <div
            class="col d-flex flex-column align-items-start justify-content-center mb-3"
          >
            <h5>Environment</h5>
            <p>
              For Environmental Resilience, we implement nature-based solutions
              to strengthen impacted communities and reduce carbon emissions.
              Our year-on-year goal is to minimize environmental impact through
              biodiversity, conservation, and carbon neutrality programs.
            </p>
            <a
              href="https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2020/pdf/yayasan_petronas-annual_report_2020.pdf#page=17"
              target="_blank"
              class="btn btn-primary">Read More</a
            >
          </div>
          <div class="col-lg-5">
            <img
              data-aos="fade-up"
              data-aos-easing="ease"
              data-aos-delay="100"
              src="https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2022/info3.jpg"
              alt="Environment"
              class="img__showcase"
            />
          </div>
        </div>
      </div>
    </section>
    <section id="year-review" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col">
            <span class="text-uppercase h5">The Year in Review</span>
            <h2>2022 Financial Impact</h2>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-6 d-flex flex-column align-items-start justify-content-center"
          >
            <p>
              <strong
                >Driving Positive Impact through Financial Contributions</strong
              >
            </p>
            <p>
              In 2022, the Foundation prioritised and intensified our dedication
              in addressing concerns of the environment and our community. Our
              focus was on elevating community welfare and development, by
              fostering quality education and advocating environmental
              conservation initiatives throughout Malaysia. Going forward, we
              aim to expand our endeavours and reinforce our resolve to uphold
              the well-being of the community and the environment, leaving no
              one behind. The following outlines our financial contributions
              which have created long-term impact for our stakeholders, during
              the year in review.
            </p>
            <a href="#" class="btn btn-primary">Find Out More</a>
          </div>
          <div class="col mx-auto">
            <img
              data-aos="fade-left"
              data-aos-easing="ease"
              data-aos-delay="100"
              class="my-4"
              src="https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2022/fin2022.png"
              alt="Yayasan PETRONAS Year Review Chart"
            />
          </div>
        </div>

        <section>
          <div class="d-flex p-3 pb-1">
            <img src="https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2022/fin-icon1.svg" alt="" />
            <div>
              <h3 class="mb-0 ms-2">Community Well-being Development</h3>
              <h4 class="mb-0 ms-2 h1">RM19.93 million</h4>
            </div>
          </div>
          <img src="https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2022/line1.svg" class="w-100" alt="" />
          <div class="row row-cols-1 row-cols-lg-2">
            <div class="col-auto mx-auto">
              <img src="https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2022/fin1.png" alt="" />
            </div>
            <div class="col-auto mx-auto">
              <img src="https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2022/fin2.png" alt="" />
            </div>
          </div>
          <div class="row row-cols-1 row-cols-lg-2">
            <div class="col">
              <div class="d-flex p-3 pb-1">
                <img src="https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2022/fin-icon2.svg" alt="" />
                <div>
                  <h3 class="mb-0 ms-2">Education</h3>
                  <h4 class="mb-0 ms-2 h1">RM21.46 million</h4>
                </div>
              </div>
              <img src="https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2022/line2.svg" class="w-100" alt="" />
              <img
                class="d-block d-lg-inline-block mx-auto"
                src="https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2022/fin3.png"
                alt=""
              />
            </div>
            <div class="col">
              <div class="d-flex p-3 pb-1">
                <img src="https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2022/fin-icon3.svg" alt="" />
                <div>
                  <h3 class="mb-0 ms-2">Environment</h3>
                  <h4 class="mb-0 ms-2 h1">RM1.18 million</h4>
                </div>
              </div>
              <img src="https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2022/line3.svg" class="w-100" alt="" />
              <img
                class="d-block d-lg-inline-block mx-auto"
                src="https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2022/fin4.png"
                alt=""
              />
            </div>
          </div>
        </section>
      </div>
    </section>

    <section id="annual-report" class="text-bg-primary py-5">
      <div class="container">
        <div class="row row-cols-1 row-cols-lg-2 g-3">
          <div class="col">
            <div
              class="card h-100 text-bg-light p-4 py-5 d-md-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-between text-center text-md-start"
            >
              <h3>
                <span class="d-inline-block me-1">Yayasan PETRONAS</span>
                <span class="d-inline-block">Annual Report 2022</span>
              </h3>
              <a href="#" class="btn btn-primary">Download</a>
            </div>
          </div>
          <div class="col">
            <div
              class="card h-100 text-bg-light p-4 py-5 text-center text-md-start"
            >
              <h3>Past Annual Reports</h3>
              <div
                class="d-flex gap-2 justify-content-center justify-content-md-start"
              >
                <a href="#" class="btn btn-primary">2021</a>
                <a href="#" class="btn btn-primary">2020</a>
                <a href="#" class="btn btn-primary">2019</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="py-4 bg-dark text-light">
    <div class="container">
      <div
        class="row row-cols-1 row-cols-lg-2 justify-content-center justify-content-lg-start text-center text-lg-left"
      >
        <div class="col order-2 order-lg-1">
          <ul class="nav justify-content-center justify-content-lg-start mb-2">
            <li class="nav-item">
              <a
                target="_blank"
                href="https://www.facebook.com/yayasanpetronasmy/"
                class="nav-link"
                rel="noopener"><i class="bi bi-facebook"></i></a
              >
            </li>
            <li class="nav-item">
              <a
                target="_blank"
                href="https://www.instagram.com/yayasanpetronas/"
                class="nav-link"
                rel="noopener"><i class="bi bi-instagram"></i></a
              >
            </li>
            <li class="nav-item">
              <a
                target="_blank"
                href="https://www.linkedin.com/company/yayasan-petronas"
                class="nav-link"
                rel="noopener"><i class="bi bi-linkedin"></i></a
              >
            </li>
            <li class="nav-item">
              <a
                target="_blank"
                href="https://www.youtube.com/channel/UCE5gD-AVpdWXXmv268vZeYw"
                class="nav-link"
                rel="noopener"><i class="bi bi-youtube"></i></a
              >
            </li>
          </ul>
          <div class="footer__contact text-center text-lg-start">
            <p>
              Level 71, Tower 1, PETRONAS Twin Towers<br />
               Kuala Lumpur City Centre, 50088 Kuala Lumpur
            </p>
            <p>www.yayasanpetronas.com.my</p>
            <p>yayasanpetronas@petronas.com</p>
          </div>
        </div>
        <div
          class="col-auto order-1 order-lg-2 d-flex justify-content-md-end align-items-end"
        >
          <a
            href="https://www.yayasanpetronas.com.my/"
            target="_blank"
            rel="noopener"
          >
            <figure>
              <img
                alt="Yayasan Petronas Logo"
                src="https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2020/logo-yayasan-petronas.c034529.png"
                width="180"
                class="px-3"
              />
            </figure>
          </a>
        </div>
      </div>
    </div>
  </footer>
</Layout>

<style>
  @import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css");
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
  @import url("https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css");

  img {
    max-width: 100%;
    height: auto;
  }
  .img__showcase {
    aspect-ratio: 4/3;
    width: 100%;
    object-fit: cover;
  }
  .masthead__bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 4/3;
  }

  .figure__msg {
    position: relative;
  }
  .btn__msg {
    position: absolute;
    bottom: 16%;
    left: 0;
  }

  @media screen and (min-width: 576px) {
    .masthead__bg {
      aspect-ratio: 5/1;
    }
  }
</style>
