---
import Layout from "../../layouts/Layout.astro";

import VacancyList from "../../components/BsVacancyList.astro";
---

<Layout title="yayasan petronas - career">
  <!--  <header class="header pt-4 bg-white">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto d-flex align-items-center">
          <a href="/">
            <img
              alt="Yayasan PETRONAS logo"
              src="https://www.yayasanpetronas.com.my/wp-content/themes/wpbase2-yayasan/assets/annual_report_2020/logo.5874414.png"
              width="180"
              class="d-inline-block px-3 border-right"
            />
          </a>
          <h1 class="d-inline-block m-0 px-3 text-dark">
            Annual Report
            <span class="text-primary">2022</span>
          </h1>
        </div>
      </div>
    </div>
  </header>
  <nav
    class="bg-white sticky-top d-flex justify-content-center align-items-start shadow-sm"
  >
    <ul class="nav justify-content-center my-2">
      <li class="nav-item">
        <a href="#overview" class="nav-link px-2 px-sm-4">Overview</a>
      </li>
      <li class="nav-item">
        <a href="#year-review" class="nav-link px-2 px-sm-4">Year in Review</a>
      </li>
      <li class="nav-item">
        <a href="#annual-report" class="nav-link px-2 px-sm-4">Annual Report</a>
      </li>
    </ul>
  </nav> -->

  <main>
    <section
      id="intro"
      class="spacing-lg text-bg-primary"
      style="background-color: var(--bs-primary) !important;"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 position-relative">
            <h1 class="fs-5 text-uppercase text-white">
              Career at Yayasan PETRONAS
            </h1>
            <h2
              class="display-4 mb-4 fw-bold text-white"
              style="
            line-height: 1;"
            >
              Ignite Your Impactful Career with a Vision for Malaysia
            </h2>
            <p class="h2 text-white fw-normal">
              Yayasan PETRONAS actively seeks dedicated and passionate
              individuals eager to make a positive impact on the Malaysian
              society. As a valued team member, you can expect a fast-paced,
              dynamic organization where you can make a difference to the
              Malaysian society.
            </p>
            <img
              class="hero1 rounded-circle"
              width="192"
              src="/assets/career/231218-hero1.jpg"
            />
            <img
              class="hero2 rounded-circle"
              width="192"
              src="/assets/career/231218-hero2.jpg"
            />
          </div>
        </div>
      </div>
    </section>

    <section id="looking_for" class="spacing-lg position-relative">
      <div class="decor--topright"></div>
      <div class="decor--bottomleft"></div>

      <article id="value" class="container my-5">
        <div class="row text-center">
          <div class="col">
            <h2 class="h5 text-uppercase">What We Look For</h2>
            <h3 class="h2 mb-4">Shared Values</h3>
          </div>
        </div>
        <div
          class="row row-cols-1 row-cols-sm-2 g-3"
          style="max-width: 800px; margin-inline: auto"
        >
          <div class="col">
            <div class="card text-bg-primary border-0 h-100" style="background-color: var(--purple) !important">
              <div class="card-body mt-2 mb-5">
                <i class="h3 text-white bi bi-1-circle-fill"></i>
                <h4 class="h2 mt-2 text-white">Loyalty</h4>
                <p class="card-text lead text-white">Loyal to the corporation</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-primary border-0 h-100" style="background-color: var(--purple) !important">
              <div class="card-body mt-2 mb-5">
                <i class="h3 text-white bi bi-2-circle-fill"></i>
                <h4 class="h2 mt-2 text-white">Integrity</h4>
                <p class="card-text lead text-white">Honest and upright</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-primary border-0 h-100" style="background-color: var(--purple) !important">
              <div class="card-body mt-2 mb-5">
                <i class="h3 text-white bi bi-3-circle-fill"></i>
                <h4 class="h2 mt-2 text-white">Professionalism</h4>
                <p class="card-text lead text-white">Strive for excellence</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-primary border-0 h-100" style="background-color: var(--purple) !important">
              <div class="card-body mt-2 mb-5">
                <i class="h3 text-white bi bi-4-circle-fill"></i>
                <h4 class="h2 mt-2 text-white">Cohesiveness</h4>
                <p class="card-text lead text-white">
                  United, trust and respect for each other
                </p>
              </div>
            </div>
          </div>
        </div>
      </article>

      <article id="culture" class="container spacing-lg my-5 text-center">
        <div class="row">
          <div class="col">
            <h3 class="h2 mb-4">PETRONAS Cultural Beliefs</h3>
          </div>
        </div>
        <div
          class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 g-4 justify-content-center"
          style="max-width: 95%; margin-inline: auto;"
        >
          <div class="col d-flex flex-column gap-2">
            <!-- <img class="p-4 pb-1" src="/assets/career/1belief.svg" alt="Customer Focused" /> -->
            <svg
              class="mx-auto"
              width="168"
              height="168"
              viewBox="0 0 168 168"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="84" cy="84" r="84" fill="#29409a"></circle>
              <path
                d="M46.7631 28.3244C47.7968 28.3774 48.6384 28.563 49.2878 28.8811C49.4686 28.9644 49.6223 29.0959 49.7326 29.2615C49.8428 29.427 49.9054 29.6203 49.9136 29.8207C49.9218 30.021 49.8752 30.2207 49.779 30.3984C49.6828 30.5762 49.5404 30.7251 49.3673 30.8293L48.3137 31.4455C47.9824 31.6443 47.6245 31.704 47.2402 31.6245C41.1968 30.4714 36.7702 32.2407 33.9606 36.9323C32.2509 39.7553 33.3443 47.6276 31.913 48.7806C31.1973 49.3638 30.4352 49.059 29.6268 47.8662C29.419 47.5801 29.2951 47.2427 29.269 46.8921C28.0894 33.798 33.9208 27.6088 46.7631 28.3244Z"
                fill="white"></path>
              <path
                d="M121.412 27.9467C133.479 28.5033 142.266 34.5666 137.833 48.1047C137.752 48.3474 137.595 48.5581 137.387 48.7067C137.179 48.8553 136.929 48.9341 136.673 48.9319C136.417 48.9297 136.168 48.8466 135.962 48.6944C135.756 48.5423 135.604 48.3289 135.527 48.0848C134.612 45.0432 135.626 41.7631 134.712 39.139C132.472 32.7775 127.601 30.3389 120.1 31.8232C119.847 31.875 119.585 31.8592 119.34 31.7774C119.094 31.6956 118.875 31.5507 118.704 31.3572C118.533 31.1637 118.415 30.9286 118.364 30.6753C118.312 30.4221 118.328 30.1598 118.41 29.9148C118.848 28.5365 119.848 27.8804 121.412 27.9467Z"
                fill="white"></path>
              <path
                d="M36.8435 44.2082C35.2531 39.0594 40.1038 34.3479 45.2924 35.6599C45.6225 35.7373 45.9137 35.931 46.1127 36.2054C46.3118 36.4799 46.4054 36.8168 46.3765 37.1546C46.3475 37.4924 46.1979 37.8086 45.9551 38.0451C45.7122 38.2817 45.3923 38.423 45.0538 38.4431C41.6345 38.6684 39.8454 40.4708 39.6863 43.8504C39.6742 44.1949 39.5399 44.5239 39.3073 44.7784C39.0748 45.0329 38.7593 45.1963 38.4172 45.2393C38.0752 45.2824 37.729 45.2023 37.4406 45.0133C37.1523 44.8244 36.9406 44.539 36.8435 44.2082Z"
                fill="white"></path>
              <path
                d="M112.586 80.9657C118.099 81.4693 123.619 81.5555 129.146 81.2242C130.55 81.1314 131.465 81.6416 131.889 82.7549C131.969 82.9705 131.996 83.2021 131.967 83.4303C131.938 83.6584 131.855 83.8762 131.724 84.0654C131.594 84.2546 131.419 84.4095 131.216 84.517C131.013 84.6245 130.787 84.6816 130.557 84.6832H112.725C112.142 84.6832 111.797 84.9748 111.691 85.5579C109.332 99.5665 101.128 107.936 87.0801 110.666C86.2187 110.838 85.7747 111.362 85.7482 112.236L85.2512 129.969C85.2464 130.125 85.2071 130.278 85.1361 130.417C85.0651 130.556 84.9641 130.677 84.8405 130.772C84.7168 130.867 84.5736 130.934 84.4212 130.967C84.2688 131 84.1109 130.999 83.959 130.963C82.6072 130.645 81.9445 129.638 81.971 127.941C82.0638 122.508 82.0042 117.087 81.7921 111.68C81.7656 111.057 81.4475 110.686 80.8379 110.567C66.9619 107.863 58.8907 99.5334 56.6244 85.5778C56.5184 84.9814 56.1606 84.6832 55.5509 84.6832H37.6989C37.4399 84.6839 37.1874 84.5989 36.9794 84.4411C36.7714 84.2833 36.6192 84.0612 36.5459 83.8085L36.2278 82.735C36.175 82.5563 36.1649 82.3678 36.198 82.1845C36.2312 82.0012 36.3069 81.8282 36.419 81.6794C36.5311 81.5306 36.6765 81.4101 36.8435 81.3276C37.0105 81.2451 37.1946 81.2028 37.3809 81.2043H55.1931C56.1473 81.2043 56.7039 80.7338 56.863 79.7928C59.2088 66.0096 67.2932 57.9781 81.1162 55.6986C81.6463 55.6191 81.9114 55.3143 81.9114 54.7841L81.9313 36.7731C81.9313 36.6034 81.9647 36.4354 82.0296 36.2786C82.0946 36.1219 82.1898 35.9794 82.3097 35.8594C82.4297 35.7394 82.5722 35.6443 82.729 35.5793C82.8857 35.5144 83.0538 35.481 83.2235 35.481H84.3367C85.2114 35.481 85.6554 35.9183 85.6687 36.793L85.9271 54.645C85.9271 55.2546 86.2319 55.6058 86.8416 55.6986C100.678 57.9384 108.908 66.0427 111.532 80.0115C111.651 80.5946 112.003 80.9127 112.586 80.9657ZM80.8975 59.5752C70.7191 61.0065 61.2961 69.515 60.6799 80.0115C60.6675 80.3309 60.7742 80.6452 60.9792 80.893C61.1842 81.1408 61.4726 81.3043 61.7882 81.3515C62.1038 81.3987 62.4238 81.3263 62.6858 81.1483C62.9477 80.9704 63.1327 80.6997 63.2046 80.3892C65.4974 70.7674 71.4812 64.6246 81.156 61.9607C81.6596 61.8149 81.9114 61.4836 81.9114 60.9667C81.9114 60.7944 81.9114 60.6288 81.9114 60.4697C81.9114 59.7806 81.5734 59.4824 80.8975 59.5752ZM107.298 79.9916C107.099 69.1771 96.3639 60.4896 86.3644 59.5553C85.9006 59.5155 85.5958 59.7143 85.45 60.1517C85.3705 60.3637 85.3506 60.589 85.3903 60.8276C85.4296 61.1231 85.5613 61.3999 85.7676 61.6204C85.9739 61.8409 86.2447 61.9944 86.5434 62.0601C96.5627 64.2999 102.586 70.3765 104.614 80.2898C104.669 80.6322 104.854 80.9402 105.131 81.15C105.407 81.3599 105.753 81.4556 106.098 81.4173C106.442 81.379 106.759 81.2096 106.983 80.9442C107.206 80.6789 107.319 80.3378 107.298 79.9916ZM68.7113 81.1844L80.4204 81.2043C81.4144 81.2175 81.9114 80.7205 81.9114 79.7133V67.368C81.9114 66.5728 81.5204 66.2746 80.7385 66.4734C73.8734 68.2758 69.4269 72.5964 67.3992 79.435C67.3409 79.6386 67.3305 79.853 67.3689 80.0613C67.4073 80.2697 67.4934 80.4663 67.6205 80.6357C67.7476 80.8052 67.9122 80.9429 68.1015 81.0381C68.2907 81.1333 68.4994 81.1834 68.7113 81.1844ZM100.897 79.8326C99.2664 73.2921 93.8392 67.5072 87.0006 66.3342C86.2584 66.215 85.8873 66.5264 85.8873 67.2686V79.7133C85.8873 80.7073 86.3843 81.2043 87.3783 81.2043H99.823C99.9904 81.2029 100.155 81.1637 100.305 81.0898C100.456 81.0158 100.587 80.909 100.69 80.7772C100.794 80.6453 100.866 80.4919 100.901 80.3284C100.937 80.1649 100.935 79.9954 100.897 79.8326ZM81.3548 103.807C69.8444 101.024 66.7233 95.796 63.0654 85.717C62.9562 85.3801 62.724 85.1102 62.4177 84.9638C62.1114 84.8175 61.7548 84.8062 61.4229 84.9323C61.0909 85.0584 60.8094 85.3121 60.6375 85.64C60.4656 85.968 60.4166 86.3447 60.501 86.6911C62.9263 97.5852 69.639 104.258 80.6391 106.71C80.776 106.74 80.9178 106.739 81.0542 106.708C81.1905 106.677 81.3177 106.616 81.4266 106.53C81.5354 106.444 81.6229 106.336 81.6828 106.212C81.7426 106.088 81.7732 105.953 81.7722 105.815V104.344C81.7718 104.219 81.7303 104.097 81.6545 104C81.5787 103.902 81.473 103.834 81.3548 103.807ZM105.608 84.5441C103.203 88.023 103.063 92.5556 100.499 95.5972C96.9471 99.8382 92.3217 102.568 86.6229 103.788C86.3176 103.865 86.0512 104.051 85.8737 104.312C85.6961 104.572 85.6197 104.888 85.6588 105.2C85.6978 105.513 85.8497 105.8 86.0858 106.009C86.3219 106.217 86.626 106.332 86.941 106.332C97.5368 106.054 107.139 95.955 107.278 85.0808C107.283 84.8835 107.223 84.69 107.109 84.5292C106.995 84.3683 106.831 84.2488 106.644 84.1884C106.456 84.128 106.253 84.13 106.067 84.1941C105.88 84.2582 105.719 84.381 105.608 84.5441ZM67.6179 85.717C68.5125 93.3905 74.0987 97.1478 80.5993 99.9508C80.7323 100.01 80.8781 100.036 81.0234 100.025C81.1687 100.014 81.3089 99.9667 81.4314 99.8877C81.5538 99.8087 81.6546 99.7003 81.7245 99.5725C81.7945 99.4446 81.8314 99.3014 81.8319 99.1556L82.0704 85.8164C82.0731 85.6685 82.0457 85.5217 81.9899 85.3843C81.9342 85.247 81.8511 85.1219 81.7456 85.0164C81.6402 84.9109 81.5144 84.8271 81.3756 84.7699C81.2368 84.7127 81.0878 84.6832 80.9373 84.6832H68.5323C67.8432 84.6832 67.5384 85.0278 67.6179 85.717ZM87.0602 99.6327C93.9784 98.5394 99.5049 92.7743 100.897 85.9754C100.929 85.819 100.926 85.6573 100.888 85.5021C100.851 85.3469 100.778 85.2021 100.678 85.0783C100.577 84.9545 100.449 84.8548 100.305 84.7864C100.16 84.7181 100.003 84.6828 99.8429 84.6832H86.8813C86.2187 84.6832 85.8873 85.0145 85.8873 85.6772V98.6388C85.8873 99.434 86.2783 99.7653 87.0602 99.6327Z"
                fill="white"></path>
              <path
                d="M122.149 35.8785C126.582 33.3736 132.128 39.0394 132.128 42.9755C132.115 44.5129 131.254 45.1358 129.544 44.8442C128.987 44.7515 128.676 44.4268 128.61 43.8701C128.172 40.4906 126.204 38.6616 122.705 38.3833C122.42 38.3648 122.149 38.2544 121.933 38.0685C121.716 37.8826 121.566 37.6309 121.504 37.3505C121.441 37.0701 121.47 36.7757 121.587 36.5108C121.703 36.2458 121.9 36.0242 122.149 35.8785Z"
                fill="white"></path>
              <path
                d="M47.7577 134.442C48.871 134.363 49.5204 134.535 49.706 134.959C49.8385 135.248 49.8989 135.565 49.8822 135.883C49.8654 136.2 49.772 136.509 49.6098 136.783C49.4476 137.056 49.2215 137.286 48.9509 137.454C48.6803 137.621 48.3732 137.72 48.0559 137.742C34.5775 138.776 28.2491 132.693 29.0708 119.493C29.1371 118.419 29.8528 117.909 31.2178 117.962C31.4473 117.968 31.6728 118.023 31.88 118.122C32.0872 118.22 32.2715 118.361 32.4212 118.535C32.5709 118.709 32.6826 118.912 32.7492 119.132C32.8159 119.352 32.836 119.583 32.8082 119.811C31.5757 130.334 36.5588 135.211 47.7577 134.442Z"
                fill="white"></path>
              <path
                d="M119.523 137.444C118.701 137.272 118.416 136.788 118.668 135.993L118.986 134.959C119.211 134.256 119.695 133.899 120.437 133.885C123.658 133.885 127.554 134.422 130.277 132.772C137.712 128.24 132.703 121.401 135.764 118.26C135.972 118.044 136.236 117.891 136.527 117.819C136.817 117.746 137.123 117.757 137.407 117.851C137.692 117.944 137.944 118.116 138.135 118.347C138.327 118.578 138.449 118.857 138.488 119.154C140.197 131.997 132.762 140.287 119.523 137.444Z"
                fill="white"></path>
              <path
                d="M39.8247 122.335C39.9837 126.192 41.7132 127.345 45.3512 127.484C46.2392 127.511 46.5241 127.935 46.2061 128.757L45.5301 130.526C45.2518 131.255 44.7416 131.526 43.9994 131.341C38.8307 130.108 36.1867 126.875 36.0674 121.64C36.0618 121.449 36.1018 121.261 36.184 121.089C36.2662 120.917 36.3883 120.768 36.5401 120.653C36.6919 120.538 36.8689 120.461 37.0564 120.429C37.244 120.397 37.4365 120.41 37.618 120.467L38.612 120.765C39.3807 121.003 39.7849 121.527 39.8247 122.335Z"
                fill="white"></path>
              <path
                d="M130.257 120.427C131.622 121.196 132.166 122.196 131.887 123.429C130.893 127.842 128.19 130.519 123.776 131.46C122.782 131.672 122.173 131.281 121.947 130.287L121.609 128.756C121.397 127.855 121.749 127.411 122.663 127.425C126.652 127.451 128.607 125.456 128.528 121.441C128.525 121.237 128.576 121.036 128.676 120.859C128.776 120.681 128.922 120.534 129.097 120.431C129.273 120.328 129.473 120.273 129.677 120.272C129.88 120.272 130.081 120.325 130.257 120.427Z"
                fill="white"></path>
              <path
                d="M85.3894 134.542C86.834 135.019 87.1786 135.92 86.4232 137.245C86.2111 137.603 86.0521 138.027 85.9461 138.518C85.7816 139.177 85.3916 139.675 84.8562 139.91C84.3208 140.145 83.6807 140.099 83.0674 139.78C82.454 139.462 81.914 138.897 81.5584 138.2C81.2027 137.503 81.0584 136.727 81.1551 136.033C81.4466 134.204 82.8581 133.707 85.3894 134.542Z"
                fill="#00B1A9"></path>
            </svg>
            <h4 class="h5">Customer Focused</h4>
            <p>I deliver solutions from the customer lens</p>
          </div>
          <div class="col d-flex flex-column gap-2">
            <!-- <img class="p-4 pb-1" src="/assets/career/2belief.svg" alt="Innovate Now" /> -->
            <svg
              class="mx-auto"
              width="168"
              height="168"
              viewBox="0 0 168 168"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="84" cy="84" r="84" fill="#29409a"></circle>
              <path
                d="M83.9021 29.0025L83.7217 29.0028C82.9046 29.0042 82.2433 29.6678 82.2448 30.4849L82.2542 35.8977C82.2556 36.7148 82.9192 37.3761 83.7363 37.3746L83.9167 37.3743C84.7338 37.3729 85.3951 36.7093 85.3937 35.8922L85.3842 30.4794C85.3828 29.6623 84.7192 29.001 83.9021 29.0025Z"
                fill="white"></path>
              <path
                d="M74.7452 113.623H93.0947C93.2838 113.624 93.4663 113.554 93.6066 113.427C93.7468 113.3 93.8345 113.126 93.8525 112.937L95.0974 101.047C95.1148 100.839 95.1807 100.637 95.2901 100.456C95.3995 100.275 95.5495 100.119 95.7289 100.001C103.92 94.5879 110.975 87.9843 112.256 77.6999C112.473 75.9317 113.363 75.1137 114.926 75.2461C115.612 75.3062 115.919 75.6791 115.847 76.3647C114.812 85.5906 110.789 92.8919 103.776 98.2686C97.2084 103.303 94.8628 109.04 99.8787 116.329C100.228 116.835 100.372 117.388 100.312 117.989C99.7705 123.547 102.964 132.442 93.4736 131.179C92.9931 131.117 92.5078 131.247 92.1227 131.541C91.7377 131.835 91.484 132.269 91.4167 132.748L90.8213 137.151C90.7251 137.8 90.3522 138.161 89.7026 138.233C84.1815 138.865 75.088 141.138 76.4773 132.875C76.5192 132.623 76.4987 132.365 76.4173 132.124C76.336 131.882 76.1964 131.665 76.0109 131.49C75.8254 131.315 75.5998 131.189 75.3538 131.122C75.1079 131.055 74.8493 131.05 74.6008 131.107C72.3154 131.636 70.2104 131.341 68.2858 130.222C68.0057 130.058 67.7734 129.822 67.6119 129.537C67.4505 129.252 67.3656 128.929 67.3657 128.599V116.402C67.3657 115.848 67.5701 115.391 67.9791 115.03L69.4767 113.695C69.9578 113.25 70.2465 112.703 70.3427 112.053C71.1907 105.937 69.7473 102.87 64.6953 98.9723C40.7165 80.4965 50.9106 45.6198 79.9234 40.3513C80.2193 40.297 80.5248 40.3585 80.7767 40.523C81.0285 40.6876 81.2075 40.9426 81.2766 41.2354L81.5112 42.2999C81.6676 43.0217 81.3849 43.4487 80.6632 43.581C54.0501 48.2541 45.0648 80.3702 67.3657 96.6989C73.2115 100.975 74.5647 105.341 73.5543 112.27C73.5312 112.438 73.5447 112.608 73.5939 112.771C73.6431 112.933 73.7268 113.083 73.8395 113.211C73.9522 113.339 74.0913 113.442 74.2475 113.513C74.4036 113.584 74.5733 113.622 74.7452 113.623ZM96.6671 118.513C96.6671 117.938 96.439 117.388 96.033 116.982C95.6269 116.576 95.0763 116.348 94.502 116.348H73.1033C72.529 116.348 71.9783 116.576 71.5723 116.982C71.1662 117.388 70.9381 117.938 70.9381 118.513V118.693C70.9381 119.267 71.1662 119.818 71.5723 120.224C71.9783 120.63 72.529 120.858 73.1033 120.858H94.502C95.0763 120.858 95.6269 120.63 96.033 120.224C96.439 119.818 96.6671 119.267 96.6671 118.693V118.513ZM96.6311 125.964C96.6311 125.328 96.3782 124.718 95.9282 124.267C95.4782 123.817 94.8678 123.565 94.2314 123.565H73.3378C73.0227 123.565 72.7106 123.627 72.4195 123.747C72.1284 123.868 71.8638 124.045 71.641 124.267C71.4182 124.49 71.2414 124.755 71.1208 125.046C71.0002 125.337 70.9381 125.649 70.9381 125.964V126.109C70.9381 126.424 71.0002 126.736 71.1208 127.027C71.2414 127.318 71.4182 127.583 71.641 127.805C71.8638 128.028 72.1284 128.205 72.4195 128.326C72.7106 128.446 73.0227 128.508 73.3378 128.508H94.2314C94.8678 128.508 95.4782 128.256 95.9282 127.805C96.3782 127.355 96.6311 126.745 96.6311 126.109V125.964ZM87.592 132.418C87.5974 132.107 87.479 131.807 87.2629 131.583C87.0469 131.359 86.7508 131.23 86.4398 131.225L81.172 131.133C80.861 131.128 80.5606 131.246 80.3369 131.462C80.1132 131.678 79.9845 131.974 79.979 132.285L79.9411 134.45C79.9357 134.761 80.0541 135.061 80.2702 135.285C80.4862 135.509 80.7823 135.638 81.0933 135.643L86.3611 135.735C86.6721 135.74 86.9725 135.622 87.1962 135.406C87.4199 135.19 87.5487 134.894 87.5541 134.583L87.592 132.418Z"
                fill="white"></path>
              <path
                d="M86.0562 41.8851C86.5734 40.61 87.5598 40.165 89.0153 40.5499C103.269 44.2487 113.337 49.7698 115.376 65.6113C115.46 66.2609 115.207 66.724 114.618 67.0006C113.776 67.3855 113.084 67.3735 112.543 66.9645C112.194 66.6999 111.972 66.1646 111.875 65.3587C110.089 51.6823 99.4079 45.5838 86.9764 43.5089C86.7989 43.4778 86.6303 43.408 86.483 43.3045C86.3357 43.2011 86.2135 43.0666 86.1253 42.9109C86.0371 42.7552 85.9851 42.5823 85.9731 42.4048C85.9612 42.2273 85.9896 42.0497 86.0562 41.8851Z"
                fill="white"></path>
              <path
                d="M54.3678 45.9716C56.1523 47.5337 58.1256 48.1984 58.7754 47.4561C59.4252 46.7139 58.5054 44.8458 56.721 43.2836C54.9366 41.7215 52.9632 41.0568 52.3134 41.7991C51.6636 42.5413 52.5834 44.4094 54.3678 45.9716Z"
                fill="white"></path>
              <path
                d="M112.651 41.5962C112.888 41.3139 113.222 41.1293 113.588 41.0778C113.953 41.0264 114.325 41.1118 114.631 41.3176C114.938 41.5233 115.157 41.835 115.248 42.1928C115.339 42.5506 115.294 42.9293 115.123 43.2562C114.004 45.5897 112.248 47.1835 109.854 48.0375C109.603 48.1299 109.327 48.1348 109.073 48.0515C108.818 47.9681 108.599 47.8014 108.451 47.5782C108.303 47.355 108.234 47.0883 108.257 46.8214C108.279 46.5544 108.39 46.3027 108.573 46.1069L112.651 41.5962Z"
                fill="white"></path>
              <path
                d="M66.1374 78.0247L61.4463 77.9345C61.2718 77.9322 61.0995 77.8952 60.9394 77.8257C60.7792 77.7562 60.6346 77.6556 60.5137 77.5297C60.3928 77.4038 60.2982 77.2551 60.2353 77.0923C60.1724 76.9295 60.1424 76.7558 60.1472 76.5813L60.3277 68.9131C60.3371 68.5653 60.4819 68.2349 60.7312 67.9923C60.9806 67.7496 61.3149 67.6139 61.6628 67.6141H65.6322C66.0558 67.6121 66.4701 67.4899 66.827 67.2617C67.1839 67.0335 67.4687 66.7087 67.6482 66.3251C67.8278 65.9414 67.8947 65.5147 67.8413 65.0945C67.7878 64.6743 67.6162 64.2779 67.3463 63.9514L64.5677 60.5954C64.352 60.3278 64.2434 59.9902 64.2635 59.6494C64.2835 59.3086 64.4307 58.9894 64.676 58.755L69.8543 53.7392C70.1244 53.4742 70.4848 53.3214 70.863 53.3114C71.2412 53.3013 71.6092 53.4348 71.8931 53.685L75.0145 56.4275C75.3181 56.6977 75.6923 56.8762 76.0934 56.9421C76.4945 57.008 76.906 56.9588 77.2802 56.8C77.6544 56.6413 77.9759 56.3796 78.2072 56.0453C78.4385 55.7111 78.5702 55.3181 78.587 54.9119L78.7674 50.7621C78.7767 50.4699 78.9 50.1925 79.1117 49.9876C79.3234 49.7826 79.6072 49.6658 79.9041 49.6615L87.3918 49.5352C88.1496 49.5232 88.5706 49.896 88.6548 50.6538L89.142 55.3811C89.1771 55.7446 89.3128 56.0912 89.5339 56.382C89.7549 56.6728 90.0526 56.8963 90.3936 57.0274C90.7345 57.1586 91.1052 57.1921 91.4641 57.1244C91.8231 57.0567 92.1561 56.8904 92.4258 56.644L95.8719 53.5768C96.127 53.3479 96.4604 53.2258 96.803 53.2359C97.1455 53.246 97.4711 53.3874 97.7123 53.6309L102.945 58.8633C103.176 59.0924 103.312 59.4012 103.325 59.7286C103.338 60.056 103.228 60.3782 103.017 60.6315L99.8233 64.4024C99.6009 64.6634 99.4559 64.9813 99.4045 65.3203C99.3531 65.6593 99.3974 66.0059 99.5325 66.321C99.6676 66.6362 99.888 66.9073 100.169 67.1039C100.45 67.3005 100.78 67.4147 101.122 67.4336L106.102 67.7223C106.364 67.7359 106.612 67.8492 106.796 68.0396C106.979 68.2301 107.086 68.4839 107.095 68.7507L107.401 76.437C107.437 77.4714 106.938 77.9887 105.904 77.9887H101.7C101.277 77.991 100.863 78.1173 100.511 78.352C100.159 78.5867 99.8832 78.9195 99.7181 79.3092C99.553 79.6989 99.5058 80.1284 99.5822 80.5447C99.6586 80.9609 99.8554 81.3457 100.148 81.6513L103.107 84.7006C103.365 84.9665 103.509 85.3224 103.509 85.6929C103.509 86.0634 103.365 86.4193 103.107 86.6853L97.7303 92.1703C97.4909 92.4095 97.17 92.5485 96.8341 92.5586C96.4981 92.5687 96.173 92.449 95.926 92.2244L92.4438 89.0669C92.1745 88.8224 91.8426 88.6581 91.4849 88.5925C91.1272 88.5268 90.7577 88.5624 90.4176 88.6951C90.0774 88.8278 89.7798 89.0525 89.5578 89.3443C89.3358 89.636 89.1981 89.9835 89.16 90.348L88.6909 95.1834C88.6067 96.0495 88.1316 96.4765 87.2655 96.4645L80.0123 96.3562C79.1343 96.3442 78.6892 95.9051 78.6771 95.0391L78.623 90.9073C78.6189 90.5137 78.5049 90.129 78.2937 89.7968C78.0825 89.4646 77.7826 89.198 77.4279 89.0272C77.0733 88.8565 76.6779 88.7883 76.2865 88.8303C75.895 88.8724 75.5232 89.0231 75.213 89.2654L71.4961 92.1342C70.9428 92.5552 70.4196 92.5191 69.9264 92.0259L64.5677 86.6853C64.3019 86.4209 64.151 86.0625 64.1477 85.6876C64.1443 85.3127 64.2887 84.9517 64.5497 84.6825L67.5808 81.5611C67.8623 81.2675 68.0531 80.8982 68.1298 80.4985C68.2064 80.0987 68.1656 79.6859 68.0124 79.3105C67.8592 78.9352 67.6002 78.6136 67.2672 78.3852C66.9341 78.1568 66.5415 78.0315 66.1374 78.0247ZM68.7175 70.7715H64.8925C64.1347 70.7715 63.7558 71.1444 63.7558 71.8902V73.6945C63.7558 74.4523 64.1347 74.8312 64.8925 74.8312H68.6273C69.1566 74.8312 69.5776 75.0417 69.8903 75.4627C72.7411 79.2156 72.4344 82.4572 68.9701 85.1877C68.8325 85.2946 68.7268 85.4366 68.664 85.5991C68.6012 85.7616 68.5836 85.9385 68.6131 86.1116C68.6426 86.2847 68.718 86.4476 68.8316 86.5834C68.9451 86.7192 69.0926 86.8229 69.2588 86.8837L71.1714 87.5333C71.6886 87.7137 72.0735 87.5573 72.3261 87.0642C72.9997 85.6809 74.0342 84.9953 75.4295 85.0073C80.2529 85.0554 82.412 87.2326 81.9068 91.5388C81.8226 92.2846 82.1474 92.7416 82.8811 92.91L84.4869 93.2709C85.4492 93.4874 85.8822 93.1085 85.786 92.1342C85.3289 87.431 87.464 85.0193 92.1912 84.899C92.7205 84.887 93.1715 85.0735 93.5444 85.4584L95.5111 87.425C96.0885 87.9904 96.7079 88.0445 97.3695 87.5874L98.5603 86.7755C99.3903 86.2222 99.4023 85.6448 98.5964 85.0434C94.7833 82.2287 94.621 79.0231 98.1093 75.4266C98.4942 75.0296 98.9633 74.8312 99.5166 74.8312H102.061C102.576 74.8635 103.084 74.6936 103.476 74.3574C103.869 74.0212 104.114 73.5453 104.161 73.0309C104.208 72.5164 104.053 72.0039 103.728 71.6022C103.403 71.2005 102.934 70.9414 102.421 70.8798C101.591 70.7234 100.659 70.6934 99.6248 70.7896C99.0836 70.8377 98.6144 70.6693 98.2175 70.2844C95.0179 67.2051 94.8315 64.3182 97.6582 61.6239C98.3438 60.9623 98.7167 60.3849 98.7768 59.8917C98.8971 58.9415 98.3558 58.31 97.153 57.9972C96.5876 57.8649 96.1185 58.0213 95.7457 58.4664C92.9911 61.7983 89.8998 61.8223 86.4716 58.5385C86.0627 58.1536 85.8582 57.6845 85.8582 57.1312V54.1541C85.8869 53.6756 85.7244 53.2053 85.4063 52.8466C85.0882 52.488 84.6407 52.2703 84.1622 52.2416C83.6836 52.2129 83.2133 52.3755 82.8547 52.6935C82.496 53.0116 82.2783 53.4591 82.2496 53.9376C82.1414 54.7796 82.1294 55.796 82.2136 56.9869C82.2249 57.1515 82.2019 57.3168 82.146 57.4721C82.09 57.6274 82.0025 57.7693 81.8888 57.889C78.3043 61.7261 74.9784 61.9486 71.9111 58.5566C71.1293 57.6905 70.3233 57.6725 69.4934 58.5024L69.0423 58.9535C68.924 59.0714 68.8319 59.2128 68.7718 59.3685C68.7117 59.5243 68.6851 59.691 68.6936 59.8577C68.7021 60.0244 68.7456 60.1875 68.8212 60.3364C68.8968 60.4852 69.0029 60.6165 69.1325 60.7217C72.4404 63.4281 72.6749 66.5976 69.8362 70.2303C69.5475 70.5911 69.1746 70.7715 68.7175 70.7715Z"
                fill="white"></path>
              <path
                d="M92.3875 72.8827C92.3875 75.1749 91.477 77.3731 89.8562 78.9939C88.2354 80.6147 86.0371 81.5252 83.745 81.5252C81.4529 81.5252 79.2546 80.6147 77.6339 78.9939C76.0131 77.3731 75.1025 75.1749 75.1025 72.8827C75.1025 71.7478 75.326 70.6239 75.7604 69.5754C76.1947 68.5268 76.8313 67.5741 77.6339 66.7716C78.4364 65.969 79.3891 65.3324 80.4377 64.8981C81.4862 64.4638 82.61 64.2402 83.745 64.2402C84.8799 64.2402 86.0038 64.4638 87.0524 64.8981C88.1009 65.3324 89.0537 65.969 89.8562 66.7716C90.6587 67.5741 91.2953 68.5268 91.7296 69.5754C92.1639 70.6239 92.3875 71.7478 92.3875 72.8827ZM88.9594 72.8466C88.9594 71.4637 88.41 70.1374 87.4321 69.1595C86.4542 68.1816 85.1279 67.6323 83.745 67.6323C82.3621 67.6323 81.0358 68.1816 80.0579 69.1595C79.08 70.1374 78.5307 71.4637 78.5307 72.8466C78.5307 74.2296 79.08 75.5559 80.0579 76.5338C81.0358 77.5116 82.3621 78.061 83.745 78.061C85.1279 78.061 86.4542 77.5116 87.4321 76.5338C88.41 75.5559 88.9594 74.2296 88.9594 72.8466Z"
                fill="white"></path>
              <path
                d="M114.401 72.7004C115.595 72.7609 116.596 72.1564 116.637 71.3503C116.678 70.5442 115.743 69.8417 114.549 69.7812C113.355 69.7207 112.353 70.3251 112.313 71.1312C112.272 71.9373 113.207 72.6399 114.401 72.7004Z"
                fill="#00B1A9"></path>
              <path
                d="M43.3143 74.3982L41.2755 74.3621C40.8615 74.3621 40.4663 74.1977 40.177 73.905C39.8876 73.6123 39.7277 73.2153 39.7325 72.8014C39.7373 72.3875 39.9064 71.9905 40.2025 71.6978C40.4986 71.4051 40.8975 71.2407 41.3115 71.2407L47.2296 71.2046C48.0235 71.2046 48.3122 71.5835 48.0956 72.3413L47.41 74.7951C47.1574 75.7093 46.6221 75.9258 45.8042 75.4446L44.7758 74.8312C44.3187 74.5666 43.8315 74.4222 43.3143 74.3982Z"
                fill="white"></path>
              <path
                d="M121.076 75.2104C120.625 75.3688 120.16 75.3348 119.78 75.1157C119.4 74.8966 119.135 74.5098 119.043 74.0382C118.951 73.5665 119.039 73.0474 119.287 72.5921C119.536 72.1367 119.925 71.7813 120.373 71.6018C123.151 70.5193 125.611 70.7057 127.752 72.1611C127.966 72.3076 128.126 72.5212 128.208 72.7681C128.289 73.015 128.288 73.2814 128.203 73.5252C128.118 73.769 127.955 73.9765 127.74 74.115C127.524 74.2535 127.268 74.3151 127.012 74.2902C125.076 74.1338 123.097 74.4406 121.076 75.2104Z"
                fill="white"></path>
              <path
                d="M56.6317 98.0564L52.4297 102.016C51.9293 102.488 51.9059 103.276 52.3775 103.776L52.8477 104.275C53.3193 104.775 54.1072 104.799 54.6076 104.327L58.8095 100.367C59.3099 99.8959 59.3333 99.108 58.8617 98.6076L58.3915 98.1086C57.92 97.6082 57.1321 97.5848 56.6317 98.0564Z"
                fill="white"></path>
            </svg>

            <h4 class="h5">Innovate Now</h4>
            <p>I challenge norms and push boundaries</p>
          </div>
          <div class="col d-flex flex-column gap-2">
            <!-- <img class="p-4 pb-1" src="/assets/career/3belief.svg" alt="Be Enterprising" /> -->
            <svg
              class="mx-auto"
              width="168"
              height="168"
              viewBox="0 0 168 168"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="84" cy="84" r="84" fill="#29409a"></circle>
              <path
                d="M93.2085 79.631C95.2939 80.3204 95.7247 81.9921 94.7423 83.9052C92.2146 88.8228 90.4797 91.9193 89.5375 93.1946C88.2392 94.9526 86.6823 95.0847 84.8669 93.591C84.3039 93.1315 83.7639 93.1544 83.2469 93.66C79.9493 96.992 76.0371 99.2555 71.5101 100.45C71.2795 100.512 71.0719 100.639 70.9127 100.816C70.7534 100.994 70.6496 101.214 70.6139 101.45L70.1141 104.466C70.0571 104.824 69.8753 105.15 69.6008 105.387C69.3264 105.623 68.977 105.755 68.6146 105.759C65.1332 105.81 53.362 107.775 54.2582 101.743C54.3011 101.459 54.2366 101.169 54.0772 100.93C53.9179 100.691 53.6752 100.52 53.3965 100.45C48.904 99.29 44.9343 97.1529 41.4873 94.0391C40.9588 93.5566 40.3671 93.4417 39.7122 93.6944L37.3165 94.5734C37.0142 94.6889 36.6799 94.6915 36.3735 94.581C36.0671 94.4705 35.8088 94.2539 35.6448 93.9702L29.1818 82.7677C29.0158 82.4845 28.9608 82.1502 29.0278 81.831C29.0949 81.5118 29.279 81.231 29.5438 81.0442L31.991 79.2518C32.1534 79.1341 32.2764 78.9692 32.344 78.7787C32.4116 78.5881 32.4208 78.3807 32.3702 78.1833C31.1638 73.4725 31.1466 68.7445 32.3185 63.9992C32.4449 63.4821 32.2956 63.0628 31.8704 62.741L29.5782 61.0003C29.3344 60.8178 29.1651 60.553 29.1017 60.255C29.0383 59.9571 29.0852 59.6463 29.2335 59.3803L35.0588 49.005C35.438 48.3271 36.0068 48.0342 36.7651 48.1261L40.2465 48.5052C40.775 48.5742 41.2345 48.4248 41.6252 48.0571C44.9228 45.0009 48.7259 42.8523 53.0346 41.6114C53.4712 41.485 53.7527 41.2035 53.879 40.7669L54.6891 37.8198C54.8614 37.1878 55.2751 36.8719 55.93 36.8719L68.5629 36.734C68.7981 36.7313 69.0314 36.7769 69.2484 36.8678C69.4653 36.9587 69.6614 37.093 69.8244 37.2626C69.9875 37.4321 70.1142 37.6332 70.1966 37.8535C70.279 38.0738 70.3154 38.3087 70.3037 38.5436C70.1658 40.8875 71.2631 42.0652 73.5955 42.0767C73.9919 42.0776 74.3725 42.2249 74.6644 42.4907C74.9563 42.7564 75.139 43.1217 75.1774 43.5167C75.2158 43.9117 75.1073 44.3085 74.8727 44.6311C74.638 44.9538 74.2937 45.1795 73.9057 45.2651C70.1256 46.0579 67.6093 44.7251 66.3569 41.2667C66.1271 40.6233 65.6733 40.3016 64.9954 40.3016L59.1356 40.2499C58.5151 40.2499 58.1417 40.5543 58.0154 41.1633C57.0157 45.9028 52.2245 45.403 49.4842 47.0058C46.7382 48.6144 44.2506 50.5274 42.0216 52.745C41.6195 53.1586 41.1369 53.2907 40.5739 53.1414L38.23 52.5037C37.667 52.3543 37.2476 52.5382 36.9719 53.0552L33.9386 58.6392C33.6398 59.2022 33.7432 59.679 34.2488 60.0697L36.0239 61.414C36.215 61.5649 36.3555 61.7697 36.4264 62.0009C36.4972 62.2321 36.4952 62.4784 36.4204 62.7066C34.7084 67.7046 34.5762 72.7142 36.0239 77.7352C36.6214 79.8148 36.0355 81.4004 34.266 82.4919C34.0262 82.6399 33.8537 82.875 33.7859 83.1461C33.7182 83.4173 33.7606 83.7025 33.9041 83.9397L37.2131 89.3858C37.5234 89.8913 37.9715 90.0752 38.5574 89.9373L40.8669 89.3513C41.1243 89.2825 41.3962 89.2828 41.6561 89.3523C41.9159 89.4218 42.1547 89.5581 42.3491 89.7477C46.2786 93.6542 50.9204 96.3601 56.2746 97.8652C56.8721 98.0376 57.2456 98.4225 57.3949 99.02L57.9464 101.243C58.1302 101.967 58.5956 102.329 59.3425 102.329H65.5641C66.4259 102.329 66.8567 101.898 66.8567 101.036V99.3646C66.8569 99.0783 66.9496 98.8003 67.1208 98.5731C67.292 98.3459 67.5322 98.182 67.8046 98.1065C73.0324 96.6014 77.6571 94.0679 81.6785 90.506C83.1779 89.179 84.281 89.0066 85.9355 90.0235C86.1406 90.1422 86.3829 90.1781 86.6113 90.1234C86.8396 90.0687 87.0361 89.9278 87.1591 89.7305L90.6405 84.1637C90.9392 83.6926 90.9105 83.2445 90.5543 82.8194L88.7275 80.6995C88.5486 80.4935 88.426 80.2441 88.3717 79.9754C88.3173 79.7068 88.333 79.4278 88.4173 79.1657C90.2441 73.6276 90.1924 68.124 88.2622 62.6549C88.1726 62.3915 88.1695 62.1075 88.2535 61.8461C88.3376 61.5847 88.504 61.3603 88.7275 61.2072L90.4509 60.0352C90.6771 59.8748 90.8358 59.6363 90.8963 59.3657C90.9568 59.0951 90.9148 58.8117 90.7784 58.5703L87.7451 53.3482C87.612 53.1143 87.4063 52.9295 87.1581 52.8209C86.91 52.7124 86.6325 52.6858 86.3663 52.745C83.0113 53.5148 80.8053 52.2567 79.7482 48.9706C79.6941 48.7897 79.6941 48.5968 79.7485 48.4159C79.8028 48.235 79.909 48.0741 80.054 47.953C80.1989 47.8319 80.3762 47.756 80.5639 47.7347C80.7516 47.7134 80.9413 47.7476 81.1097 47.8331C83.2239 48.9361 85.338 48.9706 87.4521 47.9365C87.791 47.7671 88.1832 47.7371 88.5463 47.8528C88.9095 47.9684 89.2153 48.2208 89.3996 48.557L95.3283 59.2769C95.696 59.9318 95.6041 60.5178 95.0526 61.0348L93.2085 62.7583C92.7029 63.2294 92.5306 63.8039 92.6914 64.4817C93.7944 69.1351 93.7543 73.7942 92.5708 78.459C92.5101 78.6988 92.542 78.9526 92.6602 79.1699C92.7784 79.3871 92.9742 79.5518 93.2085 79.631Z"
                fill="white"></path>
              <path
                d="M76.938 44.3689C76.9919 44.2984 77.0598 44.2403 77.1371 44.1987C77.2145 44.1571 77.2994 44.1328 77.3861 44.1276C78.4891 44.0586 79.1727 44.6676 79.437 45.9544C79.8966 48.1375 79.213 49.2348 77.3861 49.2462C77.0052 49.2537 76.6304 49.1534 76.3043 48.9567C75.9782 48.7601 75.714 48.4749 75.5416 48.1338C75.3692 47.7926 75.2956 47.4091 75.3292 47.0269C75.3628 46.6446 75.5022 46.2791 75.7316 45.9717L76.938 44.3689Z"
                fill="#00B1A9"></path>
              <path
                d="M85.2976 71.1342C85.2976 77.2043 82.8862 83.0259 78.594 87.3181C74.3017 91.6104 68.4802 94.0218 62.41 94.0218C59.4044 94.0218 56.4282 93.4298 53.6513 92.2795C50.8745 91.1293 48.3514 89.4434 46.2261 87.3181C44.1008 85.1928 42.4149 82.6697 41.2646 79.8929C40.1144 77.116 39.5225 74.1398 39.5225 71.1342C39.5225 68.1285 40.1144 65.1523 41.2646 62.3755C42.4149 59.5986 44.1008 57.0755 46.2261 54.9502C48.3514 52.8249 50.8745 51.139 53.6513 49.9888C56.4282 48.8386 59.4044 48.2466 62.41 48.2466C68.4802 48.2466 74.3017 50.6579 78.594 54.9502C82.8862 59.2425 85.2976 65.064 85.2976 71.1342ZM81.5233 71.0997C81.5233 66.0214 79.5059 61.1511 75.915 57.5602C72.3241 53.9694 67.4538 51.952 62.3755 51.952C57.2973 51.952 52.427 53.9694 48.8361 57.5602C45.2452 61.1511 43.2279 66.0214 43.2279 71.0997C43.2279 76.178 45.2452 81.0483 48.8361 84.6391C52.427 88.23 57.2973 90.2474 62.3755 90.2474C67.4538 90.2474 72.3241 88.23 75.915 84.6391C79.5059 81.0483 81.5233 76.178 81.5233 71.0997Z"
                fill="white"></path>
              <path
                d="M64.5132 58.7251C67.5235 59.449 69.4193 60.9369 70.2006 63.1889C70.9015 65.2226 70.3615 66.5497 68.5806 67.1701C68.4982 67.1968 68.4109 67.205 68.3253 67.194C68.2396 67.1829 68.1579 67.153 68.0864 67.1064C68.0149 67.0599 67.9555 66.9979 67.9127 66.9254C67.8699 66.8528 67.8449 66.7714 67.8395 66.6876C67.6556 64.47 66.6618 62.8442 64.8579 61.8101C64.7105 61.7251 64.5433 61.6805 64.3731 61.6808C64.203 61.6812 64.0359 61.7266 63.8889 61.8123C63.742 61.898 63.6203 62.0211 63.5362 62.169C63.4521 62.317 63.4086 62.4845 63.4102 62.6547V69.1521C63.4091 69.4248 63.5033 69.6893 63.6763 69.9001C63.8493 70.1109 64.0904 70.2547 64.358 70.3068C72.7168 72.0648 72.7686 82.6296 64.134 83.8532C63.932 83.8824 63.7473 83.9822 63.6142 84.1343C63.4811 84.2864 63.4086 84.4805 63.4102 84.6805C63.3872 85.6686 62.9793 86.3465 62.1865 86.7142C62.0103 86.7938 61.818 86.8311 61.6248 86.8232C61.4316 86.8153 61.2429 86.7624 61.0739 86.6686C60.9048 86.5749 60.7599 86.4429 60.6509 86.2832C60.5418 86.1236 60.4716 85.9407 60.4458 85.749L60.3424 85.0597C60.262 84.4162 59.9 84.0198 59.2566 83.8705C54.925 82.9283 52.9315 80.2972 53.2762 75.977C53.3227 75.649 53.4887 75.3497 53.7424 75.1366C53.996 74.9234 54.3194 74.8115 54.6505 74.8222C54.9817 74.8328 55.2972 74.9654 55.5366 75.1945C55.7759 75.4235 55.9223 75.7329 55.9476 76.0632C55.9936 78.1888 56.8955 79.602 58.6534 80.3029C59.607 80.6821 60.0724 80.3604 60.0494 79.3378L59.9288 73.0299C59.9173 72.4669 59.6415 72.0992 59.1015 71.9269C53.259 70.0655 50.4152 64.1885 56.0165 59.8799C57.6193 58.6562 60.239 58.863 61.118 56.3123C61.1842 56.1128 61.3107 55.9397 61.4804 55.8166C61.65 55.6935 61.8544 55.6264 62.0656 55.6246C62.2768 55.6227 62.4846 55.6861 62.6605 55.8061C62.8364 55.9261 62.9718 56.0969 63.0483 56.2951L63.6515 57.9668C63.7198 58.157 63.8348 58.3265 63.9856 58.4592C64.1364 58.5919 64.318 58.6834 64.5132 58.7251ZM60.4114 68.2214V61.8791C60.4114 61.7785 60.3714 61.6821 60.3003 61.611C60.2292 61.5399 60.1328 61.4999 60.0322 61.4999H59.8254C58.9478 61.4999 58.1061 61.8504 57.4855 62.4742C56.8649 63.098 56.5163 63.944 56.5163 64.8262V65.2743C56.5163 66.1565 56.8649 67.0026 57.4855 67.6264C58.1061 68.2501 58.9478 68.6006 59.8254 68.6006H60.0322C60.082 68.6006 60.1313 68.5908 60.1773 68.5717C60.2233 68.5527 60.2651 68.5248 60.3003 68.4895C60.3355 68.4543 60.3634 68.4125 60.3825 68.3665C60.4015 68.3205 60.4114 68.2712 60.4114 68.2214ZM63.324 73.9778L63.4619 79.9065C63.4619 80.0345 63.5127 80.1572 63.6032 80.2477C63.6937 80.3382 63.8165 80.3891 63.9444 80.3891L64.2891 80.3719C65.1018 80.3569 65.8758 80.0435 66.4413 79.5007C67.0068 78.9578 67.3175 78.2298 67.3052 77.4764L67.2707 76.27C67.2647 75.8961 67.1792 75.5272 67.0191 75.1844C66.8591 74.8416 66.6275 74.5317 66.3378 74.2723C66.048 74.013 65.7057 73.8093 65.3305 73.673C64.9554 73.5367 64.5546 73.4705 64.1512 73.478L63.8066 73.4952C63.7432 73.4952 63.6805 73.5077 63.6219 73.532C63.5634 73.5562 63.5102 73.5918 63.4653 73.6366C63.4205 73.6814 63.385 73.7346 63.3607 73.7931C63.3365 73.8517 63.324 73.9144 63.324 73.9778Z"
                fill="white"></path>
              <path
                d="M111.254 106.465C108.53 105.891 106.152 104.65 104.118 102.743C103.682 102.34 103.193 102.254 102.653 102.484L99.6373 103.742C99.3705 103.852 99.0724 103.859 98.8036 103.759C98.5347 103.66 98.3152 103.463 98.1896 103.208L94.0361 94.8836C93.8784 94.5903 93.8067 94.2558 93.8293 93.9184C93.9557 92.0456 94.8346 90.9943 96.4662 90.7645C97.0636 90.6841 97.4026 90.3509 97.483 89.7649L98.6205 81.251C98.6866 80.8174 98.5882 80.3748 98.3447 80.0101L96.7764 77.5455C96.589 77.2572 96.5103 76.9115 96.5545 76.5705C96.5987 76.2294 96.7629 75.9152 97.0177 75.6842L104.273 69.1178C104.442 68.9656 104.642 68.8513 104.858 68.7829C105.075 68.7145 105.304 68.6935 105.53 68.7213C105.755 68.7491 105.972 68.825 106.166 68.944C106.359 69.0629 106.525 69.2221 106.652 69.4108L107.565 70.7895C107.709 71.0069 107.913 71.1789 108.154 71.2857C108.395 71.3924 108.663 71.4295 108.927 71.3928L117.872 70.1174C118.039 70.0959 118.201 70.0372 118.346 69.945C118.492 69.8528 118.618 69.7294 118.716 69.5831L120.543 66.8428C120.704 66.608 120.948 66.4424 121.226 66.3785C121.503 66.3147 121.795 66.3574 122.042 66.4981L131.315 71.7892C131.474 71.8775 131.612 71.9989 131.72 72.1453C131.829 72.2918 131.905 72.46 131.944 72.6389C131.983 72.8179 131.984 73.0035 131.947 73.1838C131.91 73.3641 131.835 73.5348 131.728 73.685L130.401 75.5291C129.976 76.1151 129.988 76.6895 130.436 77.2525C131.998 79.2173 133.032 81.452 133.538 83.9568C133.586 84.2009 133.695 84.4295 133.854 84.6221C134.013 84.8146 134.219 84.965 134.451 85.0598L138.208 86.542C138.488 86.6511 138.718 86.8561 138.857 87.119C138.997 87.3819 139.036 87.6851 138.967 87.9725L136.657 98.0375C136.586 98.3476 136.399 98.6182 136.135 98.792C135.871 98.9657 135.552 99.0289 135.244 98.9682L132.917 98.5028C132.679 98.4548 132.432 98.4658 132.198 98.5348C131.964 98.6039 131.75 98.7289 131.573 98.8992L125.282 104.966C125.137 105.107 125.031 105.283 124.976 105.477C124.922 105.671 124.92 105.876 124.972 106.069C126.61 112.222 116.682 111.101 113.442 110.912C112.994 110.877 112.736 110.636 112.667 110.188L112.219 107.482C112.127 106.919 111.805 106.58 111.254 106.465ZM122.353 102.639C125.512 100.778 128.011 98.2616 129.85 95.0904C130.183 94.5044 130.66 94.3321 131.28 94.5733L132.917 95.1938C133.062 95.2466 133.216 95.2681 133.369 95.2568C133.523 95.2455 133.672 95.2018 133.807 95.1284C133.943 95.0551 134.061 94.9539 134.154 94.8314C134.247 94.709 134.313 94.5682 134.348 94.4182L135.52 89.403C135.556 89.2494 135.557 89.0898 135.522 88.9357C135.487 88.7817 135.417 88.6373 135.318 88.5132C135.218 88.389 135.092 88.2884 134.948 88.2186C134.804 88.1489 134.646 88.1119 134.486 88.1104H132.797C132.383 88.1104 132.084 87.9208 131.901 87.5416L126.696 76.9596C126.579 76.7267 126.523 76.4688 126.532 76.2097C126.541 75.9507 126.615 75.6988 126.747 75.4774L127.437 74.271C127.781 73.662 127.638 73.2081 127.006 72.9094L122.663 70.824C122.429 70.7148 122.162 70.7006 121.92 70.7845C121.678 70.8684 121.48 71.0436 121.37 71.2721L120.474 73.0818C120.344 73.3446 120.131 73.5576 119.866 73.6882C119.602 73.8189 119.301 73.8601 119.009 73.8056C115.194 73.0818 111.604 73.7022 108.237 75.667C108.13 75.7318 108.009 75.7704 107.884 75.7795C107.759 75.7887 107.633 75.7683 107.516 75.7199C107.399 75.6714 107.295 75.5963 107.21 75.5004C107.126 75.4045 107.065 75.2904 107.031 75.1671C106.801 74.3054 106.629 73.8458 106.514 73.7884C105.68 73.3755 104.623 73.2084 103.561 73.3217C102.498 73.435 101.511 73.82 100.803 74.3972C100.095 74.9743 99.7211 75.6997 99.7576 76.4235C99.794 77.1472 100.238 77.8142 100.999 78.2866C101.815 78.7807 102.303 79.3667 102.464 80.0446C102.54 80.3484 102.581 80.6368 102.584 80.8918C102.587 81.1468 102.552 81.363 102.481 81.5267C101.125 84.7783 100.614 88.1678 100.947 91.6952C100.975 91.9812 100.907 92.2679 100.754 92.5088C100.601 92.7497 100.371 92.9306 100.103 93.0222L98.2413 93.6944C97.7702 93.8667 97.6209 94.1884 97.7933 94.6595L99.3271 98.7097C99.5684 99.3416 100.022 99.5886 100.689 99.4507L103.619 98.8303C104.159 98.7154 104.618 98.8533 104.997 99.2439C107.341 101.691 110.196 103.139 113.563 103.587C114.172 103.667 114.551 104.006 114.7 104.604L115.252 106.844C115.424 107.499 115.844 107.775 116.51 107.672L120.819 106.982C121.324 106.902 121.577 106.603 121.577 106.086V103.983C121.577 103.386 121.836 102.938 122.353 102.639Z"
                fill="white"></path>
              <path
                d="M124.005 88.7133C124.005 90.8388 123.16 92.8772 121.657 94.3802C120.155 95.8831 118.116 96.7274 115.991 96.7274C113.865 96.7274 111.827 95.8831 110.324 94.3802C108.821 92.8772 107.977 90.8388 107.977 88.7133C107.977 86.5879 108.821 84.5494 110.324 83.0465C111.827 81.5436 113.865 80.6992 115.991 80.6992C118.116 80.6992 120.155 81.5436 121.657 83.0465C123.16 84.5494 124.005 86.5879 124.005 88.7133ZM120.713 88.6272C120.713 87.3564 120.208 86.1378 119.31 85.2392C118.411 84.3407 117.192 83.8359 115.922 83.8359C115.293 83.8359 114.67 83.9599 114.088 84.2006C113.507 84.4414 112.979 84.7943 112.534 85.2392C112.089 85.6842 111.736 86.2123 111.495 86.7936C111.254 87.3749 111.131 87.998 111.131 88.6272C111.131 89.2564 111.254 89.8794 111.495 90.4607C111.736 91.042 112.089 91.5702 112.534 92.0151C112.979 92.46 113.507 92.8129 114.088 93.0537C114.67 93.2945 115.293 93.4184 115.922 93.4184C117.192 93.4184 118.411 92.9136 119.31 92.0151C120.208 91.1165 120.713 89.8979 120.713 88.6272Z"
                fill="white"></path>
              <path
                d="M93.6555 103.587C94.3449 107.172 97.0163 109.757 100.808 110.05C101.359 110.096 101.687 110.389 101.79 110.929L102.824 116.668C102.939 117.3 102.732 117.788 102.204 118.133C99.0557 120.178 97.9585 123.016 98.9121 126.647C99.0845 127.325 98.8661 127.83 98.2572 128.164L93.0868 131.059C92.5008 131.392 91.9723 131.323 91.5012 130.852C89.0654 128.416 86.2274 128.129 82.9873 129.991C82.5382 130.251 82.0153 130.355 81.5006 130.287C80.986 130.218 80.5086 129.981 80.1436 129.611L76.4554 125.94C76.0418 125.527 75.9326 125.044 76.1279 124.493C77.3458 121.092 76.6564 118.168 74.0597 115.72C73.6346 115.318 73.5312 114.853 73.7495 114.324L76.059 108.775C76.3117 108.166 76.7656 107.89 77.4205 107.947C81.1317 108.223 83.6881 106.689 85.0899 103.346C85.2622 102.944 85.5725 102.743 86.0206 102.743L92.6904 102.777C93.2419 102.777 93.5636 103.047 93.6555 103.587ZM90.4671 107.31C90.1454 106.011 89.2722 105.512 87.8474 105.81C87.6406 105.856 87.5372 105.983 87.5372 106.189C87.5372 106.488 87.5315 106.781 87.52 107.068C87.5085 107.471 87.3189 107.775 86.9513 107.982L78.2305 112.842C77.8744 113.037 77.7824 113.325 77.9548 113.704C79.6323 117.277 80.4136 121.051 80.2987 125.027C80.2757 125.762 80.6262 126.067 81.35 125.94C85.3599 125.239 89.2952 125.59 93.1557 126.992C93.6268 127.164 93.9485 127.015 94.1209 126.544L98.4984 115.048C98.6593 114.623 98.5617 114.273 98.2055 113.997L91.2082 108.464C90.8291 108.166 90.582 107.781 90.4671 107.31Z"
                fill="white"></path>
              <path
                d="M93.9127 117.133C93.9127 118.619 93.3226 120.044 92.2721 121.094C91.2217 122.145 89.797 122.735 88.3115 122.735C86.8259 122.735 85.4012 122.145 84.3508 121.094C83.3003 120.044 82.7102 118.619 82.7102 117.133C82.7102 115.648 83.3003 114.223 84.3508 113.173C85.4012 112.122 86.8259 111.532 88.3115 111.532C89.797 111.532 91.2217 112.122 92.2721 113.173C93.3226 114.223 93.9127 115.648 93.9127 117.133ZM90.7453 116.381C90.6076 115.794 90.2226 115.29 89.6752 114.98C89.1278 114.67 88.4628 114.58 87.8265 114.729C87.1901 114.878 86.6346 115.255 86.282 115.776C85.9294 116.297 85.8087 116.919 85.9465 117.507C86.0843 118.094 86.4692 118.598 87.0166 118.908C87.564 119.218 88.229 119.308 88.8653 119.159C89.5017 119.009 90.0573 118.633 90.4098 118.112C90.7624 117.591 90.8831 116.969 90.7453 116.381Z"
                fill="white"></path>
            </svg>

            <h4 class="h5">Be Enterprising</h4>
            <p>I seek opportunities and make them happen</p>
          </div>
          <div class="col d-flex flex-column gap-2">
            <!-- <img class="p-4 pb-1" src="/assets/career/4belief.svg" alt="Speak Up" /> -->
            <svg
              class="mx-auto"
              width="168"
              height="168"
              viewBox="0 0 168 168"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="84" cy="84" r="84" fill="#29409a"></circle>
              <path
                d="M65.1327 42.1997C66.4548 42.1997 67.5266 41.1279 67.5266 39.8058C67.5266 38.4837 66.4548 37.4119 65.1327 37.4119C63.8106 37.4119 62.7388 38.4837 62.7388 39.8058C62.7388 41.1279 63.8106 42.1997 65.1327 42.1997Z"
                fill="#00B1A9"></path>
              <path
                d="M99.6338 73.7192C106.833 74.0141 115.021 73.0253 121.3 75.0896C139.601 81.0744 145.048 104.163 131.275 118.197C130.801 118.683 130.581 119.261 130.616 119.932L131.119 128.189C131.144 128.587 131.064 128.984 130.886 129.34C130.708 129.697 130.438 130 130.105 130.218C129.772 130.437 129.387 130.563 128.989 130.585C128.591 130.606 128.195 130.522 127.84 130.34C123.087 127.964 119.409 125.431 113.737 125.431C110.395 125.431 107.047 125.425 103.693 125.414C103.011 125.402 102.565 125.072 102.357 124.425L102.114 123.644C101.848 122.8 102.155 122.378 103.034 122.378H118.941C119.066 122.378 119.185 122.407 119.288 122.465L126.504 126.055C127.43 126.518 127.846 126.229 127.753 125.188L127.164 118.561C127.136 118.303 127.171 118.041 127.264 117.794C127.357 117.547 127.507 117.323 127.701 117.139C139.081 106.332 138.179 86.9897 123.954 79.8427C116.565 76.1305 92.452 75.6621 84.5244 79.2529C60.8977 90.0081 70.5254 122.395 96.5113 122.43C96.8749 122.429 97.2259 122.565 97.4956 122.812C97.7652 123.059 97.9338 123.399 97.9684 123.766C98.0725 124.91 97.2861 125.442 95.6092 125.361C91.8449 125.188 87.6122 125.518 84.1948 123.904C70.7682 117.602 65.6624 106.644 68.8774 91.0316C68.9815 90.5343 68.7733 90.2857 68.2529 90.2857H49.9691C49.7298 90.2858 49.4916 90.3453 49.2752 90.4591L40.1507 95.0908C39.7978 95.2658 39.4049 95.3454 39.0118 95.3214C38.6186 95.2974 38.2392 95.1707 37.9118 94.9542C37.5844 94.7377 37.3206 94.439 37.1471 94.0883C36.9737 93.7376 36.8967 93.3474 36.9241 92.9571L37.4792 84.4744C37.5254 83.9077 37.352 83.4162 36.9588 82.9999C19.2648 64.2304 33.1077 36.9608 58.5038 38.3312C58.8576 38.345 59.197 38.4747 59.4697 38.7004C59.7425 38.9261 59.9333 39.2352 60.013 39.5802C60.279 40.6441 59.8627 41.1703 58.7641 41.1588C35.5363 40.9159 23.6536 63.7967 40.3241 81.6989C40.752 82.1499 40.9659 82.6877 40.9659 83.3122V89.9387C40.9641 90.081 41.0012 90.221 41.0731 90.3437C41.145 90.4664 41.2491 90.5671 41.3741 90.635C41.4991 90.7028 41.6402 90.7352 41.7823 90.7287C41.9243 90.7222 42.062 90.677 42.1803 90.5979L47.8527 86.9897C48.0222 86.8768 48.2275 86.8165 48.4425 86.8163H70.057C70.3388 86.8169 70.6163 86.7475 70.8646 86.6142C71.1129 86.481 71.3242 86.2881 71.4795 86.053C76.7414 78.0849 84.2006 73.9621 93.8572 73.6845C94.4701 73.6614 94.8865 73.3723 95.1062 72.8172C101.976 55.9211 89.0347 41.471 71.8611 41.3669C71.04 41.3669 70.7104 40.9679 70.8723 40.17L71.0285 39.3894C71.1441 38.788 71.5084 38.47 72.1213 38.4353C91.5154 37.4985 104.317 54.0129 98.8184 72.5743C98.7813 72.7059 98.7741 72.8441 98.7971 72.9785C98.8202 73.113 98.873 73.2402 98.9515 73.3505C99.03 73.4608 99.1323 73.5513 99.2505 73.6151C99.3687 73.679 99.4997 73.7146 99.6338 73.7192Z"
                fill="white"></path>
              <path
                d="M75.2423 52.0857L53.4197 52.1238C52.5 52.1254 51.7557 52.8723 51.7573 53.792L51.7575 53.9308C51.7591 54.8505 52.506 55.5948 53.4258 55.5932L75.2483 55.5551C76.1681 55.5535 76.9124 54.8066 76.9108 53.8869L76.9105 53.7481C76.9089 52.8284 76.162 52.0841 75.2423 52.0857Z"
                fill="white"></path>
              <path
                d="M75.1359 62.1298L53.4868 62.1676C52.5863 62.1691 51.8575 62.9005 51.859 63.801L51.8592 63.9051C51.8608 64.8057 52.5921 65.5345 53.4927 65.5329L75.1418 65.4951C76.0424 65.4935 76.7712 64.7622 76.7696 63.8616L76.7694 63.7576C76.7678 62.857 76.0365 62.1282 75.1359 62.1298Z"
                fill="white"></path>
              <path
                d="M64.3673 72.1406H53.4734C52.5728 72.1406 51.8428 72.8707 51.8428 73.7713V73.91C51.8428 74.8106 52.5728 75.5406 53.4734 75.5406H64.3673C65.2679 75.5406 65.9979 74.8106 65.9979 73.91V73.7713C65.9979 72.8707 65.2679 72.1406 64.3673 72.1406Z"
                fill="white"></path>
              <path
                d="M114.901 88.1868H92.3849C91.5802 88.1868 90.9277 88.8392 90.9277 89.6439V89.7133C90.9277 90.5181 91.5802 91.1705 92.3849 91.1705H114.901C115.706 91.1705 116.359 90.5181 116.359 89.7133V89.6439C116.359 88.8392 115.706 88.1868 114.901 88.1868Z"
                fill="white"></path>
              <path
                d="M114.728 98.562L92.7322 98.5236C91.8029 98.5219 91.0482 99.274 91.0466 100.203L91.0465 100.273C91.0449 101.202 91.7969 101.957 92.7262 101.958L114.722 101.997C115.652 101.998 116.406 101.246 116.408 100.317L116.408 100.248C116.41 99.3182 115.658 98.5636 114.728 98.562Z"
                fill="white"></path>
              <path
                d="M114.95 108.969H92.3644C91.5597 108.969 90.9072 109.621 90.9072 110.426V110.495C90.9072 111.3 91.5597 111.952 92.3644 111.952H114.95C115.755 111.952 116.407 111.3 116.407 110.495V110.426C116.407 109.621 115.755 108.969 114.95 108.969Z"
                fill="white"></path>
            </svg>

            <h4 class="h5">Speak Up</h4>
            <p>I express my views openly</p>
          </div>
          <div class="col d-flex flex-column gap-2">
            <!-- <img class="p-4 pb-1" src="/assets/career/5belief.svg" alt="Courage To Act" /> -->
            <svg
              class="mx-auto"
              width="168"
              height="168"
              viewBox="0 0 168 168"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="84" cy="84" r="84" fill="#29409a"></circle>
              <path
                d="M112.935 31.8311C113.09 30.4331 113.867 29.9782 115.265 30.4664C115.681 30.5916 116.069 30.8791 116.346 31.2678C116.622 31.6564 116.766 32.1155 116.747 32.5473C116.727 32.979 116.546 33.3493 116.241 33.5792C115.936 33.8092 115.532 33.8806 115.115 33.7783C114.882 33.734 114.666 33.7007 114.466 33.6785C113.335 33.5786 112.824 32.9628 112.935 31.8311Z"
                fill="white"></path>
              <path
                d="M102.908 39.5886C103.764 40.1613 104.847 40.0436 105.328 39.3256C105.808 38.6076 105.505 37.5613 104.649 36.9886C103.794 36.4159 102.71 36.5337 102.23 37.2517C101.749 37.9697 102.053 39.016 102.908 39.5886Z"
                fill="white"></path>
              <path
                d="M126.15 39.4809C126.973 38.8783 127.244 37.8487 126.756 37.1811C126.267 36.5136 125.204 36.4609 124.38 37.0635C123.557 37.6661 123.286 38.6957 123.774 39.3633C124.263 40.0308 125.326 40.0835 126.15 39.4809Z"
                fill="white"></path>
              <path
                d="M121.654 44.4632C121.654 46.37 120.896 48.1988 119.548 49.5471C118.199 50.8955 116.371 51.653 114.464 51.653C112.557 51.653 110.728 50.8955 109.38 49.5471C108.032 48.1988 107.274 46.37 107.274 44.4632C107.274 42.5564 108.032 40.7276 109.38 39.3793C110.728 38.0309 112.557 37.2734 114.464 37.2734C116.371 37.2734 118.199 38.0309 119.548 39.3793C120.896 40.7276 121.654 42.5564 121.654 44.4632ZM118.941 44.3966C118.941 43.2225 118.474 42.0965 117.644 41.2662C116.814 40.436 115.688 39.9696 114.514 39.9696C113.34 39.9696 112.214 40.436 111.383 41.2662C110.553 42.0965 110.087 43.2225 110.087 44.3966C110.087 45.5708 110.553 46.6968 111.383 47.527C112.214 48.3572 113.34 48.8237 114.514 48.8237C115.688 48.8237 116.814 48.3572 117.644 47.527C118.474 46.6968 118.941 45.5708 118.941 44.3966Z"
                fill="white"></path>
              <path
                d="M109.221 112.383L98.5197 112.316C97.8984 112.316 97.3603 112.527 96.9054 112.949L82.5758 126.396C82.2329 126.707 81.7878 126.879 81.3276 126.879H51.0207C49.15 126.879 47.3152 127.41 45.7283 128.41L31.3821 137.497C30.9715 137.752 30.5332 137.791 30.0672 137.614C29.3238 137.303 28.9689 136.898 29.0021 136.399C29.0243 136.11 29.2129 135.844 29.5679 135.6C35.8091 131.239 43.0987 125.364 50.4548 123.5C50.9208 123.378 51.1428 123.079 51.1206 122.602L50.8709 117.759C50.8376 117.204 50.9819 116.699 51.3036 116.244C55.764 109.931 57.8166 102.913 57.4616 95.1908C57.4394 94.636 57.1564 94.2976 56.6128 94.1755C48.258 92.3448 46.8767 91.7956 48.3246 82.9748C49.2344 77.3495 50.1886 71.7297 51.1871 66.1155C51.7364 58.1102 59.8249 54.4654 64.5848 61.4388C64.7382 61.6586 64.9686 61.8121 65.2286 61.8678C65.4886 61.9235 65.7585 61.8772 65.9828 61.7384L66.8649 61.2058C67.4862 60.8286 67.5972 60.3404 67.1978 59.7413C56.9457 44.3798 81.3442 35.7754 84.3067 50.8706C85.1166 54.9758 83.7963 58.5263 80.3456 61.5221C80.2481 61.6083 80.1698 61.7139 80.1157 61.8322C80.0615 61.9506 80.0326 62.0789 80.031 62.209C80.0295 62.3392 80.0552 62.4682 80.1065 62.5878C80.1578 62.7074 80.2336 62.8149 80.329 62.9034L88.4009 70.3262C88.5854 70.4994 88.8199 70.6097 89.071 70.6414C89.3221 70.6731 89.5767 70.6244 89.7984 70.5025C90.0202 70.3805 90.1976 70.1915 90.3053 69.9625C90.413 69.7335 90.4454 69.4763 90.398 69.2277L89.4659 64.1849C89.429 63.9256 89.4874 63.6616 89.6303 63.442C89.7732 63.2225 89.9909 63.0622 90.243 62.991C90.4952 62.9199 90.7646 62.9426 91.0012 63.0551C91.2379 63.1675 91.4257 63.362 91.5298 63.6024L94.0262 69.8768C94.0711 69.9926 94.1474 70.0941 94.2471 70.1703C94.3468 70.2465 94.466 70.2947 94.592 70.3095C101.233 70.9919 103.113 75.6686 98.37 80.728C97.671 81.4825 97.4657 82.359 97.7542 83.3576L104.961 108.072C105.138 108.683 105.543 108.988 106.176 108.988H114.63C114.951 108.987 115.268 108.913 115.556 108.772C115.845 108.631 116.097 108.426 116.294 108.172L121.703 101.166C121.816 101.022 121.958 100.904 122.121 100.821C122.283 100.738 122.462 100.691 122.645 100.685C122.827 100.679 123.009 100.713 123.177 100.784C123.345 100.856 123.495 100.963 123.617 101.099C124.383 101.953 124.305 102.946 123.384 104.078C121.476 106.464 119.568 108.855 117.659 111.251C117.502 111.446 117.307 111.606 117.087 111.724C116.867 111.841 116.625 111.912 116.378 111.934L109.221 112.383ZM81.6937 52.8011C81.6937 50.9605 80.9625 49.1953 79.661 47.8937C78.3595 46.5922 76.5943 45.861 74.7536 45.861C73.8422 45.861 72.9397 46.0405 72.0977 46.3893C71.2557 46.7381 70.4906 47.2493 69.8462 47.8937C69.2017 48.5382 68.6905 49.3033 68.3418 50.1453C67.993 50.9873 67.8135 51.8897 67.8135 52.8011C67.8135 53.7125 67.993 54.615 68.3418 55.457C68.6905 56.299 69.2017 57.0641 69.8462 57.7085C70.4906 58.353 71.2557 58.8642 72.0977 59.213C72.9397 59.5617 73.8422 59.7413 74.7536 59.7413C76.5943 59.7413 78.3595 59.0101 79.661 57.7085C80.9625 56.407 81.6937 54.6418 81.6937 52.8011ZM62.2714 64.7674C62.2714 63.7169 61.8541 62.7094 61.1113 61.9666C60.3684 61.2237 59.3609 60.8064 58.3104 60.8064C57.7902 60.8064 57.2752 60.9089 56.7946 61.1079C56.314 61.307 55.8773 61.5987 55.5095 61.9666C55.1417 62.3344 54.8499 62.771 54.6508 63.2516C54.4518 63.7322 54.3493 64.2473 54.3493 64.7674C54.3493 65.2876 54.4518 65.8027 54.6508 66.2833C54.8499 66.7638 55.1417 67.2005 55.5095 67.5683C55.8773 67.9361 56.314 68.2279 56.7946 68.4269C57.2752 68.626 57.7902 68.7285 58.3104 68.7285C59.3609 68.7285 60.3684 68.3111 61.1113 67.5683C61.8541 66.8255 62.2714 65.818 62.2714 64.7674ZM74.4041 74.1208C76.0129 75.0972 77.4886 76.2178 78.8312 77.4827C79.2924 77.9111 79.891 78.154 80.5121 78.165C85.383 78.2427 90.2482 78.2371 95.1079 78.1484C96.8388 78.1317 97.9373 77.233 97.9373 75.4855C97.9382 75.031 97.7653 74.5928 97.4534 74.2593C97.1415 73.9258 96.7138 73.7217 96.2563 73.6881L87.0028 73.0889C86.7284 73.0728 86.459 73.0012 86.2104 72.8784C85.9618 72.7555 85.739 72.5838 85.5549 72.3733C81.3942 67.6966 74.7536 59.0256 67.6637 64.3514C63.7693 67.2639 62.571 80.3286 61.7388 85.1717C61.6279 85.793 61.8886 86.0815 62.521 86.0371C67.3031 85.7043 71.6359 84.1898 75.5192 81.4936C75.7526 81.3317 75.9462 81.1191 76.0857 80.8717C76.2251 80.6243 76.3067 80.3485 76.3243 80.0651C76.3419 79.7816 76.2951 79.4978 76.1873 79.2351C76.0796 78.9723 75.9138 78.7373 75.7023 78.5478L72.9395 76.1179C72.719 75.9089 72.5824 75.6265 72.5552 75.3239C72.528 75.0212 72.6122 74.7191 72.7919 74.4741C72.9716 74.229 73.2345 74.0579 73.5313 73.9929C73.8281 73.9279 74.1384 73.9733 74.4041 74.1208ZM60.8232 73.8285C60.8912 73.4506 60.8062 73.0611 60.587 72.7458C60.3678 72.4304 60.0324 72.2151 59.6545 72.1471L54.7732 71.2688C54.3953 71.2008 54.0058 71.2858 53.6905 71.5049C53.3752 71.7241 53.1598 72.0596 53.0918 72.4375L50.2389 88.2933C50.1709 88.6712 50.2558 89.0607 50.475 89.376C50.6941 89.6913 51.0296 89.9067 51.4076 89.9747L56.2887 90.8529C56.6667 90.9209 57.0561 90.836 57.3715 90.6169C57.6868 90.3977 57.9022 90.0622 57.9702 89.6843L60.8232 73.8285ZM79.9795 85.3881L79.2805 87.2521C79.1866 87.5019 79.1854 87.7775 79.2767 88.0302C79.3681 88.283 79.5463 88.4966 79.7798 88.6334C82.7756 90.3643 85.921 91.1132 88.1512 93.876C91.2246 97.6706 94.2647 101.543 97.2715 105.493C97.6487 105.981 97.8651 106.53 97.9206 107.14C98.087 108.96 99.1522 109.559 101.116 108.938C101.352 108.86 101.549 108.695 101.664 108.477C101.78 108.259 101.804 108.006 101.732 107.773L94.0095 81.9596C93.936 81.7215 93.7902 81.5128 93.5929 81.3634C93.3956 81.2139 93.1569 81.1313 92.9111 81.1275L81.0613 81.0609C80.3845 81.0609 80.0461 81.3993 80.0461 82.0761V84.9886C80.046 85.121 80.0235 85.2559 79.9795 85.3881ZM64.2019 96.0396C77.0004 97.0215 80.2624 101.931 87.9182 111.085C89.2995 112.766 91.6628 113.365 93.3271 112.033C94.1186 111.398 94.6371 110.483 94.7764 109.478C94.9156 108.472 94.6651 107.451 94.0761 106.624C89.0998 99.6178 85.9044 94.1423 76.601 90.9135C75.9796 90.6916 75.7134 90.2534 75.8021 89.5987L76.3014 86.0371C76.318 85.8956 76.2947 85.7523 76.2343 85.6233C76.1738 85.4943 76.0785 85.3848 75.9592 85.3069C75.8399 85.2291 75.7012 85.1861 75.5588 85.1828C75.4163 85.1795 75.2759 85.216 75.153 85.2882C72.5401 86.9192 61.7222 89.3491 61.3227 89.865C60.7125 90.6417 60.6238 91.8344 61.0565 93.4433C61.2518 94.1461 61.6583 94.7719 62.2208 95.2363C62.7834 95.7006 63.4749 95.981 64.2019 96.0396ZM61.4226 115.845C61.6889 115.345 62.0162 115.162 62.4046 115.295C63.0925 115.528 63.6583 115.351 64.1021 114.763C67.1866 110.68 68.629 106.059 68.4293 100.899C68.4071 100.278 68.0965 99.9063 67.4973 99.7842L61.4059 98.4861C60.8734 98.3751 60.585 98.5915 60.5406 99.1352C60.2743 102.63 60.2077 105.493 58.6433 108.788C56.696 112.849 50.3218 121.22 57.2785 123.8C57.5222 123.888 57.7837 123.919 58.0433 123.891C58.3029 123.862 58.5536 123.774 58.7763 123.634C61.0841 122.125 62.46 119.956 62.9038 117.126C62.9087 117.097 62.9072 117.068 62.8994 117.04C62.8916 117.011 62.8776 116.985 62.8585 116.963C62.8395 116.941 62.8157 116.923 62.7891 116.911C62.7624 116.899 62.7334 116.893 62.7041 116.893C62.4822 116.893 62.2547 116.893 62.0217 116.893C61.2672 116.871 61.0675 116.522 61.4226 115.845ZM71.3085 102.364V106.641C71.3085 107.229 71.181 107.795 70.9258 108.339L64.2852 122.319C63.8858 123.14 64.1465 123.55 65.0674 123.55H79.8797C80.5454 123.55 81.1335 123.328 81.6438 122.885L88.251 117.01C88.7614 116.555 88.7726 116.089 88.2844 115.612C84.1403 111.501 77.9657 101.382 72.2572 101.415C71.6248 101.415 71.3085 101.731 71.3085 102.364Z"
                fill="white"></path>
              <path
                d="M104.664 51.7459C105.465 51.0853 105.712 50.061 105.215 49.4581C104.718 48.8553 103.666 48.9021 102.864 49.5628C102.063 50.2235 101.816 51.2478 102.313 51.8506C102.81 52.4535 103.862 52.4066 104.664 51.7459Z"
                fill="white"></path>
              <path
                d="M124.472 51.6964C125.256 52.3201 126.263 52.3592 126.721 51.7837C127.178 51.2083 126.914 50.2361 126.13 49.6124C125.346 48.9888 124.339 48.9497 123.881 49.5251C123.423 50.1006 123.688 51.0727 124.472 51.6964Z"
                fill="white"></path>
              <path
                d="M112.82 56.8149C112.768 57.9259 113.492 58.8626 114.438 58.9072C115.383 58.9518 116.192 58.0874 116.245 56.9764C116.297 55.8655 115.573 54.9287 114.627 54.8841C113.682 54.8395 112.873 55.7039 112.82 56.8149Z"
                fill="#F0F2F5"></path>
              <path
                d="M127.414 94.1757C129.528 90.0149 133.872 86.936 138.449 89.8485C138.692 90.0124 138.87 90.2569 138.951 90.539C139.032 90.8211 139.012 91.1228 138.892 91.3911C138.773 91.6593 138.563 91.877 138.299 92.0058C138.036 92.1346 137.735 92.1663 137.45 92.0953C133.811 91.1078 131.348 92.2618 130.061 95.5571C130.012 95.6882 129.935 95.8072 129.836 95.9061C129.736 96.0049 129.616 96.0813 129.484 96.1302C129.351 96.179 129.21 96.1992 129.068 96.1893C128.926 96.1795 128.788 96.1398 128.663 96.073L127.864 95.6403C127.231 95.3074 127.082 94.8192 127.414 94.1757Z"
                fill="white"></path>
              <path
                d="M125.216 100.733C124.875 100.78 124.528 100.715 124.228 100.546C123.927 100.378 123.69 100.116 123.552 99.8011C123.064 98.6694 123.225 97.6541 124.035 96.7554C124.251 96.5106 124.528 96.3256 124.836 96.2178C125.145 96.1101 125.477 96.0834 125.799 96.1401C126.121 96.1969 126.423 96.3352 126.677 96.542C126.93 96.7488 127.126 97.0171 127.247 97.3213C128.034 99.2962 127.358 100.434 125.216 100.733Z"
                fill="#00B1A9"></path>
              <path
                d="M45.7901 122.993C46.5907 122.422 47.0192 121.65 46.7469 121.268C46.4747 120.887 45.605 121.04 44.8043 121.611C44.0036 122.182 43.5752 122.955 43.8474 123.336C44.1196 123.718 44.9894 123.564 45.7901 122.993Z"
                fill="#F0F2F5"></path>
            </svg>

            <h4 class="h5">Courage To Act</h4>
            <p>I take action to progress with pace</p>
          </div>
        </div>
      </article>
    </section>

    <div
      class="bg-secondary py-5 position-relative overflow-hidden separator--1"
    >
      <div class="bg__fixed bg--placeholder z-1"></div>
      <div
        class="container py-5 position-relative z-3 d-flex flex-wrap justify-content-lg-between"
      >
      </div>
    </div>

    <section id="vacancy" class="spacing-lg position-relative">
      <div class="decor--topright"></div>
      <div class="decor--bottomleft"></div>
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <h2>Current Vacancies</h2>
          </div>
        </div>

        <section id="vacancy_list" class="my-4">
          <VacancyList />
        </section>

        <hr />

        <div class="row justify-content-center text-center">
          <div class="col-md-8">
            <p>
              Interested? Please send your CV to <a
                href="mailto:yayasanpetronas@petronas.com"
                target="_blank">yayasanpetronas@petronas.com</a
              >
            </p>
            <p>
              We do not have any job openings at the moment. However, we are
              always looking to grow our pool of prospective candidates who
              share our passion in creating positive, and lasting impact in our
              communities.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section
      id="vacancy_cta"
      class="text-bg-primary spacing-lg"
      style="background-color: var(--blue) !important"
    >
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-8">
            * At Yayasan PETRONAS the protection of your privacy is very
            important to us. We are committed to protecting the privacy of
            everyone we deal with. See our <a
              href="https://www.yayasanpetronas.com.my/wp-content/uploads/2023/09/Yayasan-PETRONAS-Privacy-Policy.pdf"
              target="_blank">Privacy Policy</a
            > for details about the collection and usage of personal
            information.
          </div>
        </div>
      </div>
    </section>

    <style is:global>
      @import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css");
      @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
      @import url("https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css");

      @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap");

      :root {
        --spacing: 1.608rem;
        --bs-primary: #00a19c;
        --bs-primary-rgb: 0, 163, 158;

        --purple: #743e97;
      }
      html {
        font-family: "Lato", sans-serif;
      }
      body {
        font-family: "Lato", sans-serif;
      }
      img {
        max-width: 100%;
        height: auto;
      }
      .spacing-lg {
        padding-block: calc(var(--spacing) * 2);
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      .h1,
      .h2,
      .h3,
      .h4,
      .h5,
      .h6 {
        color: var(--bs-primary);
        font-weight: bold;
      }
      .text-bg-primary a {
        color: #fff;
      }

      :root {
        --blue: #29409a;
      }

      .text--blue {
        color: var(--blue);
      }
      div.decor--topright {
        margin: 0;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 190px;
        background-image: url("/assets/career/decor-topright.png");
        background-repeat: no-repeat;
        background-position: top right;
        background-size: contain;
        z-index: -1;
        opacity: 0.5;
      }

      div.decor--bottomleft {
        margin: 0;
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        rotate: 180deg;
        width: 100%;
        height: 190px;
        background-image: url("/assets/career/decor-topright.png");
        background-repeat: no-repeat;
        background-position: top right;
        background-size: contain;
        z-index: -1;
        opacity: 0.5;
      }
      h3 {
        color: var(--bs-purple);
      }

      .hero1,
      .hero2 {
        position: absolute;
      }
      .hero1 {
        top: 40%;
        right: 100%;
        box-shadow: -0.5rem 0.5rem 0 var(--blue);
      }
      .hero2 {
        top: 30%;
        left: 95%;
        box-shadow: 0.5rem 0.5rem 0 var(--blue);
      }
      @media screen and (max-width: 991px) {
        .hero1,
        .hero2 {
          display: none;
        }

        div.decor--topright,
      div.decor--bottomleft {
        opacity: 0.1;
      }

        .accordion-button:after {
          position: absolute;
          right: 1rem;
        }
      }
      .separator--1 {
        aspect-ratio: 3/1;
        background-image: url("/assets/career/231218-separator1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 65%;
        /* background-attachment: fixed;  */
      }
      @media screen and (max-width: 767px) {
        .separator--1 {
          aspect-ratio: 3/1;
        }
      }
    </style>
  </main>
</Layout>
